<%= form_tag '/advanced',
  method: :post,
  class: 'search-query-form clearfix', role: 'search' do %>

  <% {
        all: 'All these words',
        title: 'This title',
        exact: 'This exact word or phrase',
        any: 'Any of these words',
        none: 'None of these words'
      }.each do |name,label| %>
    <div class="form-group">
      <label for="<%= name %>"><%= label %></label>
      <input class="form-control input-group input-group-lg" name="<%= name %>" id="<%= name %>"/>
    </div>
  <% end %>

  <% if @hidden_constraints %>
    <% @hidden_constraints.each do |param_name, param_val| %>
      <% if param_val.is_a? Array %>
        <% param_val.each do |p| %>
          <%=  %(<input type="hidden" name="f[#{param_name}][]" value="#{p}">).html_safe %>
        <% end %>
      <% else %>
        <input type="hidden" name="f[<%= param_name %>]" value="<%= param_val %>">
      <% end %>

    <% end %>

  <% end %>

  <div class="form-group">
    <input id="advanced-search" type="submit" class="btn btn-primary" value="Search"/>
  </div>
<% end %>
