<% content_for :main do %>
  <div class="row">
    <div class="col-md-12 gallery-intro">
      <p>The American Archive of Public Broadcasting contains more than 50,000 hours of digitized public broadcasting programs and original materials. Some notable collections are featured here in Special Collections. Each Special Collection finding aid provides detailed information about the content, such as its creator, recommended search strategies, and related resources. Most of the materials described in the Special Collections are available online. If not, particular materials of interest can be accessed on location at WGBH and the Library of Congress. Please <a href="/contact-us">contact us</a> to make a research appointment or to learn more about the collections.</p>
    </div>
  </div>

  <div id="filter-container" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 text-center">

      <input placeholder="Filter by Collection Title" type="text" name="search-collections" class="form-control" id="search-collections">
    </div>
    <div class="col-md-4"></div>
  </div>

  <div class="row gallery-index" id="documents">
    <% @top_level_special_collections.each_with_index do |coll,i| %>
      <div id="collection-<%= i %>" class="gallery col-xs-12 col-sm-6 col-md-4 collection">
      
        <div class="gallery-thumbnail">
          <a href="/special_collections/<%= coll.path %>">
            <img src="<%= coll.thumbnail_url %>" alt="<%= coll.title %>" aria-hidden="true">
          </a>
        </div>
        <h2 class="index-title">
          <a href="/special_collections/<%= coll.path %>"><%= coll.title %></a>
        </h2>
      </div>
    <% end %>
  </div>

  <script type="text/javascript">
    $(function() {

      var current_value;
      var oldval;

      $('#search-collections').keyup(function(e) {

        current_value = $(this).val().toLowerCase().replace(/\W/g, '');
        if(current_value != oldval){
          
          var collections = $('.collection');
          for(var i=0;i<collections.length;i++){
            var this_title = $(collections[i]).find('h2.index-title a').text().toLowerCase().replace(/\W/g, '');
            if(this_title.includes( current_value )){
              $(collections[i]).slideDown(300);
            } else {
              $(collections[i]).slideUp(300);
            }
          }
        
          oldval = current_value;
        }
      });
    });
  </script>
<% end %>

<%= render partial: 'shared/gallery_title',
           locals: {
            title: 'Special Collections',
            main: yield(:main)
           } %>
