=<% content_for :main do %>
  <div class="row">
    <div class="col-md-12 gallery-intro">
      <p>American Archive of Public Broadcasting staff and guest curators create exhibits of selected recordings that focus on themes, topics, and events of cultural and historical significance. In the exhibits, curators contextualize digitized primary and secondary source public television and radio materials. Each curated set of selected recordings present a diversity of perspectives concerning the exhibit's focus. As a result, AAPB exhibits often illuminate how public broadcasting stations and producers have covered the exhibit's theme.</p>
    </div>
  </div>
  <div class="row gallery-index" id="documents">
    <% @all_resource_sets.each do |resource| %>
      <div class="gallery col-xs-12 col-sm-6 col-md-4">
        <div class="gallery-thumbnail">
          <a href="/educator_resources/<%= resource.path %>">
            <img src="<%= resource.thumbnail_url %>" alt="<%= resource.title %>" aria-hidden="true">
            <div class="exhibit-index-title-container">
              <h2 class="exhibit-index-title bg-color-<%= ['purple','pink','red'].sample %>">
                <a href="/educator_resources/<%= resource.path %>"><%= resource.title %></a>
              </h2>  
            </div>
            
          </a>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/gallery_title',
           locals: {
            title: 'Exhibits',
            main: yield(:main)
           } %>
