<% if can? :play_embedded, @pbcore %>
  <div class="row embed-player-row">
    <div class="col-xs-12 col-sm-6 col-md-6 embed-player">
      <section class="videocontent">
        <% if @pbcore.hls_src.present? %>
          <% ad_file = AudioDescriptionFile.new(@pbcore.id) %>
          <!-- HLS player -->
          <video
            id="player_media"
            class="video-js vjs-default-skin vjs-fluid"
            controls
            preload="auto"
            crossorigin="with-credentials"
            data-setup='{}'>

            <source src="<%= @pbcore.hls_src %>" type="application/x-mpegURL">

            <% if @pbcore.captions_src %>
              <track kind="captions" src="<%= @pbcore.captions_src %>" srclang="en" label="English" default />
            <% end %>

            <% if ChapterFile.file_present?(@pbcore.id) %>
              <track kind="chapters" src="<%= ChapterFile.vtt_url(@pbcore.id) %>" srclang="en" label="Chapters" />
            <% end %>

            <% if ad_file.file_present? %>
              <track kind="descriptions" src="<%= ad_file.url %>" srclang="en" label="Audio Description" />
              <button id="toggle-ad">Toggle Audio Description</button>
              <% end %>
          </video>
        <% else %>
          <!-- Standard MP4/MP3 player -->
          <%=
          @pbcore.media_srcs.map do |media_src|
            media = @pbcore.video? ? 'video' : 'audio'
            content_tag(media,
            controls: true,
            "class" => "video-js vjs-default-skin vjs-fluid",
            "id" => "player_media",
            "aria-label" => "video player",
            oncontextmenu: 'return false;',
            preload: 'auto',
            crossorigin: 'with-credentials',
            "data-setup" => '{}',
            poster: @pbcore.img_src) do %>

          <source src="<%= media_src %>" type='<%= @pbcore.video? ? "video/mp4" : "audio/mp3" %>' />

            <% if @pbcore.captions_src %>
              <track kind="captions" src="/captions/<%= @pbcore.id %>.vtt" srclang="en" label="English" default="default" />
            <% end %>
            <% if ChapterFile.file_present?(@pbcore.id) %>
              <track kind="chapters" src=<%= ChapterFile.vtt_url(@pbcore.id) %> srclang="en" label="Chapters" />
            <% end %>
            <%
          end
        end.join().html_safe()
      %>
    <% end %>
  </section>
</div>
    <div class="col-xs-12 col-sm-6 col-md-6 embed-data">
      <dl>
        <dt>Title</dt>
        <dd>
          <a data-no-turbolink="true" target="_blank" href="/catalog/<%= @pbcore.id %>"><%= @pbcore.title %></a>
        </dd>
      </dl>
      <dl>
        <dt>Contributing Organization</dt>
          <% @pbcore.contributing_organization_objects.each do |org| %>
            <dd><a target="_blank" href='/participating-orgs/<%= url_encode(org.id) %>'><%= org.short_name %></a>
              (<%= org.city %>, <%= org.state %>)</dd>
          <% end %>
      </dl>
      <% unless @pbcore.asset_dates.empty? %>
        <dl>
          <% @pbcore.asset_dates.each do |type,date| %>
            <dt><%= type %></dt>
            <dd><%= date %></dd>
          <% end %>
        </dl>
      <% end %>

      <p>By accessing this content you agree to the AAPB's <a target="_blank" href="/legal/orr-rules">Online Reading Room Rules of Use</a>.</p>

      <% if @is_clipped %>
        <p>
          This is a segment of a program available on the AAPB website. <a target="_blank" href="/catalog/<%= @pbcore.id %>">Access the full-length item.</a>
        </p>
      <% end %>
    </div>
  </div>
<% else %>
  <% if @pbcore.public? && !current_user.usa? && !GlobalMedia.allowed?(@pbcore.id) %>
    Please note: This content is currently not available at your location.
  <% elsif @pbcore.protected? %>
    Please note: This content is only available at GBH and the Library of
    Congress, either due to copyright restrictions or because this content has
    not yet been reviewed for copyright or privacy issues. For information about
    on location research, <a target="_blank" href="/on-location">click here</a>.
  <% elsif @pbcore.private? %>
    Please note: This content is only available at the Library of Congress due
    to copyright restrictions or privacy concerns. For information about on
    location research, <a target="_blank" href="/on-location">click here</a>.
  <% elsif !@pbcore.digitized? && !@pbcore.contributing_organization_objects.empty? %>
    This content is not available. Please contact the contributing organization(s) listed below.
  <% elsif !@pbcore.digitized? && @pbcore.contributing_organization_objects.empty? %>
    This content is not available.
  <% end %>
<% end %>
