<div class="row embed-player-row">
  <div class="col-xs-12 col-sm-6 col-md-6 embed-player">
    <section class="videocontent">
    <%=
      @pbcore.media_srcs.map do |media_src|
        media = @pbcore.video? ? 'video' : 'audio'
        content_tag(media,
                    controls: true,
                    "class" => "video-js vjs-default-skin vjs-fluid",
                    "id" => "player_media",
                    "aria-label" => "video player",
                    oncontextmenu: 'return false;',
                    preload: 'auto',
                    crossorigin: 'with-credentials',
                    :"data-setup" => '{}',
                    poster: @pbcore.img_src) do %>

          <source src="<%= media_src %>" type='<%= @pbcore.video? ? 'video/mp4' : 'audio/mp3' %>' />

          <% if @pbcore.captions_src %>
            <track kind="captions" src="/captions/<%= @pbcore.id %>.vtt" srclang="en" label="English" default="default" />
          <% end %>
          <% if ChapterFile.file_present?(@pbcore.id) %>
            <track kind="chapters" src=<%= ChapterFile.vtt_url(@pbcore.id) %> srclang="en" label="Chapters" />
          <% end %>
          <%
        end
      end.join().html_safe()
    %>
    </section>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-6 embed-data">
    <dt>Title</dt>
      <dl>
        <dd>
          <a data-no-turbolink="true" href="/catalog/<%= @pbcore.id %>"><%= @pbcore.title %></a>
        </dd>
      </dl>
    <dl>
      <dt>Contributing Organization</dt>
      <dd><a href='/participating-orgs/<%= url_encode(@pbcore.organization.id) %>'><%= @pbcore.organization.short_name %></a>
        (<%= @pbcore.organization.city %>, <%= @pbcore.organization.state %>)</dd>
    </dl>

    <% unless @pbcore.asset_dates.empty? %>
      <dl>
        <% @pbcore.asset_dates.each do |type,date| %>
          <dt><%= type %></dt>
          <dd><%= date %></dd>
        <% end %>
      </dl>
    <% end %>

    <p>By accessing this content you agree to the AAPB's <a href="/legal/orr-rules">Online Reading Room Rules of Use</a>.</p>
  </div>
</div>
