<div class="primary-source-header">
  <h1><%=
    # "title || @page_title" doesn't work
    if defined? title
      title
    else
      @page_title
    end %></h1>
</div>

<div class="row">
  <div class="region clearfix">

    <!-- START: Main Column -->
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 gallery-intro">
          <p>Leveraging the valuable digital media in the American Archive of Public Broadcasting, these Multimedia Primary Source Discussion Sets have been curated to support educators teaching topics in US History.</p>
        </div>
      </div>
      <div class="row gallery-index" id="documents">
        <% @all_resource_sets.each do |resource| %>
          <div class="gallery col-xs-12 col-sm-6 col-md-4">
            <div class="primary-source-thumbnail">
              <a style="color: #000; font-weight: bold; text-align: center;" href="/primary_source_sets/<%= resource.path %>">
                <img src="<%= resource.thumbnail_url %>" alt="<%= resource.title %>" aria-hidden="true">
                <div style="min-height: 1.2em;" class="primary-source-colorband"></div>
                <div class="primary-source-index-title">
                  <%= resource.title %>
                </div>
              </a>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <!-- END: Main Column -->

  </div>
</div>
