<% if gallery_info.present? %>

  <div id="exgal-popup-container" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document" style="width: 90%;">
      <div class="modal-content">

        <div id="exgal-popup" class="exgal-modal-height">
          <!-- modal viewer -->
          <div id="exgal-modal-viewer" class="exgal-popups">

            <div id="exgal-modal-container" class="row exgal-modal-height">

              <div class="exgal-modal-leftpane col-sm-8 col-md-8 col-lg-8 col-xs-12 exgal-playerhome">

                <!-- vjs gets moved to here -->

              </div>

              <div class="exgal-modal-rightpane col-sm-4 col-md-4 col-lg-4 col-xs-12">

                <div class="exgal-titletext "></div>

                <div class="exgal-modal-title white-back">
                    <h4 class="exgal-font"><a class="exgal-asset_url exhibit-color<%= @exhibit_color_suffix %>" href="">Go to asset's full record <img class="icon-size" src="https://s3.amazonaws.com/americanarchive.org/exhibits/assets/assets_full_record.png"></a></h4>

                  <div class="exgal-caption"></div>
                </div>

                <a href="" class="exgal-credit_url">
                  <h4 class="exgal-source_text exgal-title exhibit-color<%= @exhibit_color_suffix %> exgal-font italic exgal-main-margin"></h4>
                </a>

                <h4 class="exgal-source exgal-title exhibit-color<%= @exhibit_color_suffix %> exgal-font italic exgal-main-margin"></h4>

                <div id="exgal-modal-nav" class="exgal-nav exgal-nav-font">

                  <span class="exgal-button exgal-back">Previous | </span>

                  <span class="exgal-count">
                    <span class="current-item">1</span>
                    of
                    <span><%= gallery_info.count %></span>
                  </span>
                  <span class="exgal-button exgal-forward"> | Next</span>
                </div>

                <div id="exgal-modal-close-con">

                  <a id="exgal-close-modal">
                    <img src="https://s3.amazonaws.com/americanarchive.org/exhibits/assets/close.png">
                  </a>
                </div>

              </div>

            </div>


            <div class="row"> 
              

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div id="exgal-main" data-total-items="<%= gallery_info.count %>" data-current-item="1" class="exgal-container">

    <div class="row">

      <div class="col-md-12">

        <div id="exgal-fullscreen-button">
        </div>

        <!-- item viewer -->
        <div id="exgal-item-viewer" class="">
          <div class="row">

            <div class="col-md-12">

              <div class="four-three-box exgal-playerhome">

                <!-- whole gallery player -->
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <h4 class="exhibit-color<%= @exhibit_color_suffix %> exgal-title exgal-titletext"></h4>

              <div class="exgal-caption">
              </div>

              <a class="exgal-credit_url" href="">
                <h4 class="exgal-source_text exgal-title exhibit-color<%= @exhibit_color_suffix %> exgal-font italic exgal-main-margin"></h4>
              </a>
            


              <h4 class="exgal-source exgal-title exhibit-color<%= @exhibit_color_suffix %> exgal-font italic exgal-main-margin"></h4>

            </div>
          </div>
        </div>

        <% gallery_info.each_with_index do |gal,i| %>

          <!-- each gallery item container -->
          <div class="exgal-<%= i+1 %> exgals hide">
            <div class="row">

              <div class="col-md-12">

                <div class="four-three-box exgal-storage-playerhome">

                  <!-- whole gallery player -->
                  <%= render(partial: 'exhibits/gallery_player',
                              locals: {
                                modal: false,
                                media_info: gal[:media_info]
                              }) %>
                </div>
              </div>
            </div>

            <% if gallery_info.present? %>
              <div class="row">
                <div class="col-md-12">

                  <h4 class="exgal-titletext exhibit-color<%= @exhibit_color_suffix %> exgal-title"><%= gal[:title] %></h4>

                  <div class="exgal-caption">
                    <%= gal[:caption] %>
                  </div>

                  <a class="exgal-credit_url" href="<%= gal[:credit_url] %>">
                    <h4 class="exgal-source_text exgal-title exhibit-color<%= @exhibit_color_suffix %> exgal-font italic exgal-main-margin"><%= gal[:source_text] %></h4>
                  </a>

                </div>
              </div>

            <% end %>
          </div>

        <% end %>

        <div class="row">

          <div class="col-md-12">

            <% if gallery_info.count > 1 %>
              <div class="exgal-nav exgal-nav-font" style="float:right;">
                <span class="exgal-button exgal-back">Previous | </span>

                <span class="exgal-count">
                  <span class="current-item">1</span>
                  of
                  <span><%= gallery_info.count %></span>
                </span>
                <span class="exgal-button exgal-forward"> | Next</span>
              </div>
            <% end %>
          </div>
        </div>

      </div>

    </div>
  </div>


  <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/7.2.3/video.js" ></script>
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js" ></script>
    <!-- Need VideoJS for our player.js file -->
  <%= javascript_include_tag 'player' %>

  <script type="text/javascript">

    let is_item=true;

    $(document).ready(function() {
      viewSlide(1);

      // handle gallery buttons
      $('.exgal-button').click(function() {

        var main = $('#exgal-main');
        var total_items = parseFloat(main.attr("data-total-items"));
        var current_item = parseFloat(main.attr("data-current-item"));


        // hide/show buttons
        // next slide
        if($(this).hasClass('exgal-forward')) {

          var next_item = current_item + 1;

          if(next_item == total_items+1){
            return false
          }

          if(next_item == total_items){
            $(this).addClass('hide');
          } else {
            $('.exgal-back').removeClass('hide');;
          }


        // previou sslide
        } else {

          var next_item = current_item - 1;
          if(next_item == 0){
            return false;
          }

          if(next_item == 1){
            $(this).addClass('hide');
          } else {
            $('.exgal-forward').removeClass('hide');;
          }
        }

        viewSlide(next_item);
      });

      function viewSlide(new_item, switch_view=false){

        if(switch_view){
          is_item = !is_item;
        }

        console.log("I would like to view ", new_item)

        let old_item = $('#exgal-main').attr("data-current-item");
        console.log('old item is ', old_item)

        let destination
        if( is_item ){ 
          
          console.log('item destination')
          destination = $('#exgal-item-viewer');
        } else {

          console.log('modal destination')
          destination = $('#exgal-modal-viewer');
        }

        // handle old slide
        let old_content;
        if(switch_view){
          // switched to item above, now modal
          // or reverse
          old_content_location = is_item ? $('#exgal-modal-viewer') : $('#exgal-item-viewer')
        } else {
          // get the content from the same destination as we're going to 
          old_content_location = destination
        }
        old_content = old_content_location.find('.exgal-player-container').detach();
        // move old data back to storage
        $('.exgal-'+old_item).find('.exgal-storage-playerhome').append(old_content)


        let new_item_data = $('.exgal-' + new_item).first();

        console.log(new_item_data)

        // source data
        let main_content = new_item_data.find('.exgal-storage-playerhome .exgal-player-container').detach();
        console.log(main_content)
        destination.find('.exgal-playerhome').first().append(main_content)
        console.log('moved main_content')

        let title = new_item_data.find('.exgal-titletext')
        let caption = new_item_data.find('.exgal-caption')
        let credit_url = new_item_data.find('.exgal-credit_url')
        let source_text = new_item_data.find('h4.exgal-source_text')
        let asset_url =  new_item_data.find('.exgal-asset_url')

        console.log('source data',main_content.text(),title.text(),caption.text(),credit_url.text(),source_text.text(),asset_url.text())

        let title_dest;
        let caption_dest;
        let credit_url_dest;
        let source_text_dest;
        let asset_url_dest;
        title_dest = destination.find('.exgal-titletext');
        caption_dest = destination.find('.exgal-caption');
        credit_url_dest = destination.find('a.exgal-credit_url');
        source_text_dest = destination.find('h4.exgal-source_text');
        asset_url_dest = destination.find('.exgal-asset_url');

        if(title){
          title_dest.text( title.first().text() );
        }

        if(caption){
          console.log('caption_dest')
          console.log(caption_dest.first().html())
          console.log('cap ele')
          console.log(caption.first().text())
          caption_dest.text(caption.first().text());
        }

        if(credit_url){
          credit_url_dest.attr('href', credit_url.attr('href'));
        }

        if(source_text){
          source_text_dest.text(source_text.first().text());
        }

        if(asset_url){
          asset_url_dest.text(asset_url.first().text());
        }

        // save index of the new item
        console.log("NWE ITEM IS ", new_item)
        $('#exgal-main').attr("data-current-item", new_item);
        $('.current-item').text(new_item);

        // $('#exgal-modal-leftpane').height( $('#exgal-modal-viewer').height() )
      }

      // move modal gallery slides into modal
      $('#exgal-popup').prepend( $('.exgal-popups') );

      // nav with keyboard
      $(document).keydown(function(e) {
        var tag = e.target.tagName.toLowerCase();
        if ( e.which === 37 || e.which == 39 && tag != 'input' && tag != 'textarea') {
          if(e.which == 37) {
            $('.exgal-back:visible')[0].click();
          } else if(e.which == 39) {
            $('.exgal-forward:visible')[0].click();
          }
        }
      });

      // fullscreen, moving vidoe players
      $('#exgal-close-modal').click(function() {

        // close the gallery modal
        $('#exgal-popup-container').modal('hide')
        let current_item = $('#exgal-main').attr("data-current-item")

      }).hover(function() {

        $(this).find('img').attr('src', 'https://s3.amazonaws.com/americanarchive.org/exhibits/assets/close2.png').addClass('exhibit-hover').removeClass('exhibit-color<%= @exhibit_color_suffix %>');
      }, function() {

        $(this).find('img').attr('src', 'https://s3.amazonaws.com/americanarchive.org/exhibits/assets/close.png').removeClass('exhibit-hover').addClass('exhibit-color<%= @exhibit_color_suffix %>');
      });

      $('#exgal-fullscreen-button').click(function() {
        // open the gallery modal
        $('#exgal-popup-container').modal('show');

        // its not item, its modal!
        let current_item = $('#exgal-main').attr("data-current-item");
        viewSlide(current_item, true)
      });

      $('#exgal-popup-container').on('hidden.bs.modal', function () {
        // moveVideoElements();
        let current_item = $('#exgal-main').attr("data-current-item");

        // kill that modal
        viewSlide(current_item, true)
      });


    });
  </script>

<% end %>
