<% content_for(:head) do %>
  <link href="http://vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet" data-turbolinks-track>
  <script src="http://vjs.zencdn.net/5.11.7/video.js"></script>
  <!-- video-js support for IE 8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <!-- Need VideoJS for our player.js file -->
  <%= javascript_include_tag 'player' %>
<% end %>

<div id="exgal-popup-container" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document" style="width: 90%;">
    <div class="modal-content" style="margin-top: 20vh; height: 50vh !important;">
      <div id="exgal-popup" class="exgal-modal-height"> 
 

        <div id="exgal-modal-nav" class="exgal-nav">
          <span class="exgal-button exgal-back">< Previous | </span>

          <span class="exgal-count">
            <span class="current-item">1</span>
            of
            <span><%= gallery_info.count %></span>
          </span>
          <span class="exgal-button exgal-forward"> | Next ></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="exgal-main" data-total-items=<%= gallery_info.count %> data-current-item=1 class="exgal-container">
  <div class="row">

    <div class="col-md-12">

      <div id="exgal-fullscreen-button">
        you bozos
      </div>

      <% gallery_info.each_with_index do |gal,i| %>

        <!-- one modal container -->
        <div class="exgal-<%= i+1 %> exgal-popups exgals <%= i != 0 ? 'hide' : '' %>">

          <div class="row exgal-modal-height">
            
            <div class="col-sm-8 col-md-8">

              <%= render(partial: 'exhibits/gallery_player',
                          locals: {
                            modal: true,
                            media_info: gal[:media_info]
                          }) %>
            </div>

            <div class="col-sm-4 col-md-4">

              <h4 class="exhibit-color exgal-title"><%= gal[:title] %></h3>

              <div class="exgal-caption">
                <%= gal[:caption] %>
              </div> 

            </div>

          </div>
        </div>

        <!-- each gallery item container -->
        <div class="exgal-<%= i+1 %> exgals <%= i != 0 ? 'hide' : '' %>">
          <div class="row">
      
            <div class="col-md-12">

              <div class="four-three-box">

                <!-- whole gallery -->
                <%= render(partial: 'exhibits/gallery_player',
                            locals: {
                              modal: false,
                              media_info: gal[:media_info]
                            }) %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <h4 class="exhibit-color exgal-title"><%= gal[:title] %></h3>

              <div class="exgal-caption">
                <%= gal[:caption] %>
              </div> 
              
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <a class="exhibit-color exgal-record" href="<%= gal[:record_url] %>"><%= gal[:record_text] %></a>
            </div>          
          </div>          
        </div>

      <% end %>

      <div class="row">
        
        <div class="col-md-12">

          <div class="exgal-nav" style="float:right;">
            <span class="exgal-button exgal-back">< Previous | </span>

            <span class="exgal-count">
              <span class="current-item">1</span>
              of
              <span><%= gallery_info.count %></span>
            </span>
            <span class="exgal-button exgal-forward"> | Next ></span>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>

<script type="text/javascript">
  
  $(document).ready(function() {

    // handle gallery buttons
    $('.exgal-button').click(function() {

      var main = $('#exgal-main');
      var total_items = parseFloat(main.attr("data-total-items"));
      var current_item = parseFloat(main.attr("data-current-item"));

      if($(this).hasClass('exgal-forward')) {
        
        var next_item = current_item + 1;

        if(next_item == total_items+1){
          return false
        }

        if(next_item == total_items){
          $(this).addClass('hide');
        } else {
          $('.exgal-back').removeClass('hide');;
        }

      } else {

        var next_item = current_item - 1;
        if(next_item == 0){
          return false;
        }

        if(next_item == 1){
          $(this).addClass('hide');
        } else {
          $('.exgal-forward').removeClass('hide');;
        }
      }

      $('.exgals').addClass('hide');
      $('.exgal-' + next_item).removeClass('hide');
      main.attr("data-current-item", next_item);
      $('.current-item').text(next_item);
    });

    // move modal gallery slides into modal
    $('#exgal-popup').prepend( $('.exgal-popups') ); 
    $('#exgal-popup-container').modal('show')

    // nav with keyboard
    $(document).keydown(function(e) {
      var tag = e.target.tagName.toLowerCase();
      if ( e.which === 37 || e.which == 39 && tag != 'input' && tag != 'textarea') {
        if(e.which == 37) {
          $('.exgal-back')[0].click();
        } else if(e.which == 39) {
          $('.exgal-forward')[0].click();
        }
      }
    });
  });
</script>