
<% content_for(:head) do %>
  <link href="http://vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet" data-turbolinks-track>
  <script src="http://vjs.zencdn.net/5.11.7/video.js"></script>
  <!-- video-js support for IE 8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <!-- Need VideoJS for our player.js file -->
  <%= javascript_include_tag 'player' %>
<% end %>


<div id="exgal-main" data-total-items=<%= gallery_info.count %> data-current-item=1 class="exgal-container">
  <div class="row">

    <div class="col-md-12">


      <% gallery_info.each_with_index do |gal,i| %>

        <!-- each gallery item container -->
        <div id="exgal-<%= i+1 %>" class="exgals <%= i != 0 ? 'hide' : '' %>">
          <div class="row">
      
            <div class="col-md-12">

              <div class="four-three-box">


                <!-- whole gallery -->
                <%= render(partial: 'exhibits/gallery_player',
                            locals: {
                              media_info: gal[:media_info]
                            }) %>
                
              
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <h4 class="exhibit-color exgal-title"><%= gal[:title] %></h3>

              <div class="exgal-caption">
                <%= gal[:caption] %>
              </div> 
              
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <a class="exgal-record" href="<%= gal[:record_url] %>"><%= gal[:record_text] %></a>
            </div>          
          </div>          
        </div>

      <% end %>


      <div class="row">
        
        <div class="col-md-12">

          <div id="exgal-nav" style="width: 42%; margin: 0 auto;">
            <span class="exgal-button" id="exgal-back" class="">< Previous | </span>

            <span id="exgal-count">
              <span id="current-item">1</span>
              of
              <span><%= gallery_info.count %></span>
            </span>
            <span class="exgal-button" id="exgal-forward"> | Next ></span>
          </div>

        </div>
      </div>

    </div>

  </div>
</div>


<script type="text/javascript">
  
  $(document).ready(function() {

    $('.exgal-button').click(function() {

      var main = $('#exgal-main');
      var total_items = parseFloat(main.attr("data-total-items"));
      var current_item = parseFloat(main.attr("data-current-item"));

      if($(this).attr('id') == 'exgal-forward') {
        
        var next_item = current_item + 1;

        if(next_item == total_items){
          $(this).addClass('hide');
        } else {
          $('#exgal-back').removeClass('hide');;
        }

      } else {

        var next_item = current_item - 1;

        if(next_item == 1){
          $(this).addClass('hide');
        } else {
          $('#exgal-forward').removeClass('hide');;
        }
      }

      $('.exgals').addClass('hide');
      $('#exgal-' + next_item).removeClass('hide');
      main.attr("data-current-item", next_item);
      $('#current-item').text(next_item);
    });
  });


</script>