<% content_for(:head) do %>
  <link href="http://vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet" data-turbolinks-track>
  <script src="http://vjs.zencdn.net/5.11.7/video.js"></script>
  <!-- video-js support for IE 8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <!-- Need VideoJS for our player.js file -->
  <%= javascript_include_tag 'player' %>
<% end %>
<% content_for(:head) do %>
  <link href="http://vjs.zencdn.net/5.11.7/video-js.css" rel="stylesheet" data-turbolinks-track>
  <script src="http://vjs.zencdn.net/5.11.7/video.js"></script>
  <!-- video-js support for IE 8 -->
  <script src="http://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js"></script>
  <!-- Need VideoJS for our player.js file -->
  <%= javascript_include_tag 'player' %>
<% end %>


<div class="exgal-container">
  <div class="row">

    <div class="col-md-12">

      <% gallery_info.each_with_index do |gal,i| %>

        <!-- each gallery item container -->
        <div id="exgal-<%= i %>" class=" <%= i != 0 ? 'hide' : '' %>">
          <div class="row">
            <div class="col-md-12">

            
              <!-- whole gallery -->
              <%= render(partial: 'exhibits/gallery_player',
                          locals: {
                            media_info: gal[:media_info]
                          }) %>
              
            
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">

              <a class="exgal-record" href="<%= gal[:record_url] %>"><%= gal[:record_text] %></a>

              <span class="exgal-caption">
                <%= gal[:caption] %>
              </span>
              
            </div>
          </div>
        </div>

      <% end %>

      <div class="row">
        <div class="col-md-12">

          <span id="exgal-back" class="">< Previous</span>
          <span id="exgal-count">
            <span>1</span>
            of
            <span>3</span>
          </span>
          <span id="exgal-forward">Next ></span>

        </div>
      </div>

    </div>

  </div>
</div>


<script type="text/javascript">
  
  $(document).ready(function() {

    $('#exgal-forward, #exgal-back').click(function() {




    });
  });


</script>