<% if media_info[:type] == 'video' || media_info[:type] == 'audio' %>

  <div class="player exgal-modal-height" <%= modal ? 'style="height: 50vh;"' : '' %>>
    <section class="videocontent exhibit-player" <%= modal ? 'style="height: 50vh;"' : '' %>>
      <%=
        
        content_tag(media_info[:type],
                    controls: true,
                    "style" => "#{modal ? 'height: 50vh;width: 100%;' : ''}",
                    "class" => "exhibit-player-obj video-js vjs-default-skin #{modal ? '' : 'vjs-4-3'}",
                    # "id" => "player_media",
                    "aria-label" => "video player",
                    oncontextmenu: 'return false;',
                    preload: 'auto',
                    crossorigin: 'with-credentials',
                    :"data-setup" => '{}',
                    poster: media_info[:thumb_src]) do %>

          <source src="<%= media_info[:url] %>" type='<%= media_info[:type] == 'video' ? 'video/mp4' : 'audio/mp3' %>' />

          <% if false %>
            <% if @pbcore.captions_src %>
              <track kind="captions" src="/captions/<%= @pbcore.id %>.vtt" srclang="en" label="English" default="default" />
            <% end %>
            <% if ChapterFile.file_present?(@pbcore.id) %>
              <track kind="chapters" src=<%= ChapterFile.vtt_url(@pbcore.id) %> srclang="en" label="Chapters" />
            <% end %>
          <% end %>
      <% end.html_safe() %>
    </section>

  </div>
<% elsif media_info[:type] == 'image' %>
  <div class="exgal-modal-height <%= modal ? '' : 'four-three-box' %>" style="height: 100%; background-color: #000; background-image: url('<%= media_info[:url] %>'); background-size: contain; background-repeat: no-repeat; background-position: center center;"></div>

<% elsif media_info[:type] == 'iframe' %>
  <div class="exgal-modal-height">
    <iframe src="<%= media_info[:url] %>"></iframe>
  </div>
<% end %>


<% if modal %>
  <script type="text/javascript">

    function fixFullscreen() {
      console.log('wow!')
      var vid = $(this);
      // if( vid.isFullscreen() ) {
        vid.css('height', '100%').css('width', '100%');
      // }

    }

    $(document).ready(function () {
      var vid = $('.exhibit-player-obj');
      console.log(vid)
      vid.on('fullscreenchange', function() {
        fixFullscreen()
      });


    });
  </script>

<% end %>