<% gallery_info.each do |gal| %>

  <!-- each gallery item container -->
  <div class="exgal-container">

    <img alt="<%= gal[:gallery_img_alt] %>" title="<%= gal[:gallery_img_title] %>" src="<%= gal[:gallery_img_url] %>">

    <a class="exgal-record" href="<%= gal[:record_url] %>"><%= gal[:record_text] %></a>

    <span class="exgal-caption">
      <%= gal[:caption] %>
    </span>
  </div>
<% end %>


