<% if links.present? %>

  <div  id="exhibit-section-menu" >
    <li id="exhibit-section-head" class="exhibit-color">Select from exhibit sections
      <img src="/assets/read_more.png" class="icon-size">
    </li>

    <ul  class="hide" id="exhibit-sections">

      <li class="exhibit-section-disabled" value="<%= @exhibit.parent ? @exhibit.parent.path : @exhibit.path %>">Overview</li>


      <% sortedlinks = links.partition {|l| !(l[0] == 'Resources' || l[0] == 'Notes') } %>

      <% sortedlinks.first.each do |name,link,subs=nil| %>

        <li class="item" value="<%= link %>">
          <%= link ? link_to(name, link, class: current_page(link)) : content_tag('a', name) if false %>
          <%= name %>
          <%# <a> in either case for consistent style. %>
        </li>

        <% if subs %><%# This could be recursive... %>
          <ul>
            <% subs.each do |name,link| %>
              <li>&bull; <%= link_to(name, link) %></li>
            <% end %>
          </ul>
        <% end %>

      <% end %>


      <% sortedlinks.last.each do |name,link,subs=nil| %>

        <li class="item" value="<%= link %>">
          <% if name == 'Resources' %>
            <img src="/assets/research_notes.png" class="icon-size">
            Research Notes
          <% elsif name == "Notes" %>
            <img src="/assets/learning_goals.png" class="icon-size">
            Learning Goals
          <% end %>
          <%# <a> in either case for consistent style. %>
        </li>

        <% if subs %><%# This could be recursive... %>
          <ul>
            <% subs.each do |name,link| %>
              <li>&bull; <%= link_to(name, link) %></li>
            <% end %>
          </ul>
        <% end %>

      <% end %>

    </ul>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#exhibit-section-head').click(function(e) {
      e.preventDefault();
      $('#exhibit-sections').slideToggle().removeClass('hide');
    });
  });
</script>