<div class="panel panel-primary">
  <div class="panel-body">
    <% if links.present? %>

      <div id="exhibit-section-menu">
        <span><%= title %></span>

        <ul class="hide" id="exhibit-sections">



          <% links.each do |name,link,subs=nil| %>
            <li value="<%= link %>">
              <%= link ? link_to(name, link, class: current_page(link)) : content_tag('a', name) if false %>
              <%= name %>
              <%# <a> in either case for consistent style. %>
            </li>
            <% if subs %><%# This could be recursive... %>
              <ul>
                <% subs.each do |name,link| %>
                  <li>&bull; <%= link_to(name, link) %></li>
                <% end %>
              </ul>
            <% end %>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
</div>


<script type="text/javascript">
  

  $(document).ready(function() {
    $('#exhibit-section-menu').click(function(e) {
      e.preventDefault();
      $('#exhibit-sections').slideToggle().removeClass('hide');
    });
  });
</script>