<% if links.present? %>

  <div id="exhibit-section-menu" style="display:block;" >
    <li style="text-align:center;" id="exhibit-section-head" class="exhibit-color-section">
      <img style="top: -1px; position: relative;" src="https://s3.amazonaws.com/americanarchive.org/exhibits/assets/explore_exhibit_section.png" class="icon-med">
      <div style="display: inline-block;">
        Explore the exhibit
        <img src="https://s3.amazonaws.com/americanarchive.org/exhibits/assets/read_more_section.png" class="icon-size">
      </div>
    </li>

    <ul class="hide" id="exhibit-sections">

      <li class="exhibit-section-disabled item">
        <a class="exhibit-color<%= @exhibit_color_suffix %> section" href="/exhibits/<%= @exhibit.top_path %>">Overview</a>
      </li>

      <% sortedlinks = links.partition {|l| !(l[1].ends_with?('resources') || l[1].ends_with?('notes')) } %>

      <% sortedlinks.first.each do |name,link,subs=nil| %>

        <li style="float:right; display: block; width: 100%;" class="item <%= current_page(link)  %>">
          <%= link ? link_to(name, link, class: %(right-justify section-black section)) : content_tag('a', name)%>
          <%# <a> in either case for consistent style. %>
        </li>

        <% if subs %><%# This could be recursive... %>
          <ul style="float:right;">
            <% subs.each do |name,link| %>
              <li class="right-justify">&bull; <%= link_to(name, link, class: %(section-black)) %></li>
            <% end %>
          </ul>
        <% end %>

      <% end %>
    </ul>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#exhibit-section-head').click(function(e) {
      e.preventDefault();
      $('#exhibit-sections').slideToggle().removeClass('hide');
    });
  });
</script>