<% if links.present? %>

  <div id="exhibit-section-menu" style="display:block;" >
    <li id="exhibit-section-head" class="<%= @exhibit_color %>">
      <img style="top: -1px; position: relative;" src="/assets/explore_exhibit<%= @exhibit.subsection? ? '_section' : '' %>.png" class="icon-med">
      Explore the exhibit
      <img src="/assets/read_more<%= @exhibit.subsection? ? '_section' : '' %>.png" class="icon-size">
    </li>

    <ul class="hide" id="exhibit-sections">

      <li class="exhibit-section-disabled item">
        <a class="<%= @exhibit_color %>" href="/exhibits/<%= @exhibit.top_path %>">Overview</a>
      </li>

      <% sortedlinks = links.partition {|l| !(l[0] == 'Resources' || l[0] == 'Notes') } %>

      <% sortedlinks.first.each do |name,link,subs=nil| %>

        <li class="item <%= current_page(link)  %>">
          <%= link ? link_to(name, link, class: %(exhibit-color left-justify)) : content_tag('a', name)%>
          <%# <a> in either case for consistent style. %>
        </li>

        <% if subs %><%# This could be recursive... %>
          <ul>
            <% subs.each do |name,link| %>
              <li>&bull; <%= link_to(name, link) %></li>
            <% end %>
          </ul>
        <% end %>

      <% end %>
    </ul>
  </div>
<% end %>

<script type="text/javascript">
  $(document).ready(function() {
    $('#exhibit-section-head').click(function(e) {
      e.preventDefault();
      $('#exhibit-sections').slideToggle().removeClass('hide');
    });
  });
</script>