<% content_for :sidebar do %>
  <%= render 'shared/sidebar_search' %>
  <%= render partial: 'shared/sidebar_nav', 
             locals: { title: 'Exhibits' } # TODO: Would make more sense if this were one of the pages listed.
  %>
<% end %>
  
<% content_for :main do %>
  <div class="row exhibit-index" id="documents">
    <% @top_level_exhibits.each do |exhibit| %>
      <div class="document col-xs-12 col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <div class="documentHeader">
              <a href="/exhibits/<%= exhibit.path %>">
                <img src="<%= exhibit.thumbnail_url %>">
              </a>    
              <h4 class="index_title">
                <a href="/exhibits/<%= exhibit.path %>"><%= exhibit.title %></a>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %> 