<% content_for :sidebar do %>
  <%= render partial: 'sidebar_search' %>

  <% @exhibit.facets.select { |name, list| !list.empty? }.each do |name, list| %>
    <%# Copy-and-paste from the normal facet, but had to replace the internals. %>
    <div class="panel panel-default facet_limit blacklight-media_type ">
      <div class="collapse-toggle panel-heading">
        <h5 class="panel-title facet-field-heading">
          <%= name %>
        </h5>
      </div>
      <div class="panel-collapse facet-content collapse in">
        <div class="panel-body">
          <ul class="facet-values list-unstyled">
            <% list.each_slice(2) do |value,count| %>
              <li>
                <span class="facet-label">
                  <a href="/catalog?f[exhibits][]=<%= @exhibit.path %>&amp;f[<%= name %>][]=<%= value %>" class="facet_select">Moving Image</a></span>
                <span class="facet-count"><%= count %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <img src="<%= @exhibit.thumbnail_url %>"/>
  <br/><br/><%# TODO: CSS to establish spacing. %>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Author</h3>
    </div>
    <div class="panel-body">
      <%= @exhibit.author_html.html_safe %>
    </div>
  </div>
  
  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Sub-exhibits',
                links: @exhibit.children.map { |child| [child.title, "/exhibits/#{child.path}"] }
              } %>
  
  <br/>
  
  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Links',
                links: @exhibit.links
              } %>
    
<% end %>
  
<% content_for :main do %>
  
  <p>
    TODO: Bread crumbs for navigation:
    <% @exhibit.ancestors.map do |ancestor| %>
      <a href="/exhibits/<%= ancestor.path %>"><%= ancestor.title %></a>
    <% end %>
  </p>
  <%= @exhibit.formatted.html_safe %>
  
<% end %>
    
<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %> 