<% content_for :sidebar do %>
  <%= render partial: 'sidebar_search' %>

  <%# Exhibit image could go here, but I feel like the gallery gives us enough. %>
  
  <% @exhibit.facets.select { |name, list| !list.empty? }.each do |name, list| %>
    <%# Copy-and-paste from the normal facet, but had to replace the internals. %>
    <div class="panel panel-default facet_limit blacklight-media_type ">
      <div class="collapse-toggle panel-heading">
        <h5 class="panel-title facet-field-heading">
          <%= name %>
        </h5>
      </div>
      <div class="panel-collapse facet-content collapse in">
        <div class="panel-body">
          <ul class="facet-values list-unstyled">
            <% list.each_slice(2) do |value,count| %>
              <li>
                <span class="facet-label">
                  <%= link_to(value, '/catalog?' + {f: {
                        exhibits: [@exhibit.path], 
                        name => [value]
                      }}.to_query) %>
                </span>
                <span class="facet-count"><%= count %></span>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Author</h3>
    </div>
    <div class="panel-body">
      <%= @exhibit.author_html.html_safe %>
    </div>
  </div>
  
  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Sub-exhibits',
                links: @exhibit.children.map { |child| [child.title, "/exhibits/#{child.path}"] }
              } %>
  
  <br/>

  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Links',
                links: @exhibit.links
              } %>
    
<% end %>
  
<% content_for :main do %>
  
  <ol class="breadcrumb hidden-xs" style="margin-top: 0px;">
    <li><a href="/exhibits">Exhibits</a></li>
    <% @exhibit.ancestors.map do |ancestor| %>
      <li><%= link_to ancestor.title, "/exhibits/#{ancestor.path}" %></li>
    <% end %>
    <li><%= @exhibit.title %></li>
  </ol>
  
  <%= @exhibit.summary_html.html_safe %>
  
  <% @exhibit.items.to_a.slice(0,6).in_groups(2,false).each do |group| %>
    <div class="row">
    <% group.each do |id, title| %>
      <div class="document col-md-4">
        <div class="thumbnail">
          <div class="caption">
            <div class="documentHeader">
              <img src="/thumbnails/<%= id %>">
              <h4 class="index_title">
                <%= link_to(title, '/catalog/'+id) %>
              </h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
  
  <p style="text-align: center;">
    <a href="<%= '/catalog?view=gallery&f[exhibits][]=' + @exhibit.path %>" class="btn btn-primary">
      Show All <%= @exhibit.items.count %>
    </a>
  </p>
  
  <%= @exhibit.main_formatted.html_safe %>
  
<% end %>
    
<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %> 