<% content_for :sidebar do %>
  
  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Sections',
                links: (@exhibit.children.empty? ? @exhibit.ancestors.first.children : @exhibit.children).sort_by(&:head_html).map { |child| [child.title, "/exhibits/#{child.path}"] }
              } %>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Curator</h3>
    </div>
    <div class="panel-body">
      <%= @exhibit.author_html.html_safe %>
    </div>
  </div>

  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Resources',
                links: @exhibit.resources
              } %>
    
<% end %>
  
<% content_for :main do %>
  
  <ol class="breadcrumb hidden-xs" style="margin-top: 0px;">
    <li><a href="/exhibits">Exhibits</a></li>
    <% @exhibit.ancestors.map do |ancestor| %>
      <li><%= link_to ancestor.title, "/exhibits/#{ancestor.path}" %></li>
    <% end %>
    <li><%= @exhibit.title %></li>
  </ol>

  <%= @exhibit.summary_html.html_safe %>

  <%= @exhibit.extended_html.html_safe %>
  
  <% gallery_size = 9 %>
  
  <% if @exhibit.children.empty? %>
    <% @exhibit.items.to_a.slice(0, gallery_size).in_groups_of(3,false).each do |group| %>
      <div class="row">
      <% group.each do |id, title| %>
        <div class="document col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <div class="documentHeader">
                <img src="/thumbnails/<%= id %>">
                <h4 class="index_title">
                  <%= link_to(title, '/catalog/'+id) %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
  <% end %>
    
  <% if @exhibit.items.count > gallery_size %>
    <div class="panel panel-primary view-all-gallery">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-9"><h3><%= @exhibit.title %></h3></div>
          <div class="col-sm-3"><a class="btn btn-primary" href="<%= '/catalog?sort=year+asc&f[exhibits][]=' + @exhibit.path %>">Show All Items</a></div>
        </div>
      </div>
    </div>
  <% end %>
  <br/>
  
  <%= @exhibit.main_formatted.html_safe %>
  
<% end %>
    
<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %> 