<% content_for :main do %>

  <% has_main_text = @exhibit.main_html.length > 0 || @exhibit.extended_html.length > 0 %>
  <% @exhibit_color_suffix = @exhibit.subsection? ? '-section' : '' %>

  <ol class="exhibit-color<%= @exhibit_color_suffix %> breadcrumb hidden-xs exhibit-show-breadcrumb" style="margin-top: 0px; padding-bottom: 0; margin-bottom: 0;">
    <li> ◄ <a style="margin-left: 4px; top: -2px;" href="/exhibits">Exhibits</a></li>

    <% @exhibit.ancestors.map do |ancestor| %>

      <li><%= link_to ancestor.title, "/exhibits/#{ancestor.path}" %></li>

    <% end %>

    <li><%= @exhibit.title %></li>
  </ol>

  <div class="row" style="margin-bottom: 4%;">

    <% if @exhibit.path.ends_with?('timeline') %>

      <div class="col-md-12">
        <div id="exhibit-text-container" class="row exhibit-text" style="margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 4%;">

          <h3 id="exhibit-overview-title" class="exhibit-title exhibit-color<%= @exhibit_color_suffix %>">
            <%= @exhibit.subsection? ? @exhibit.title : 'Overview' %>
          </h3>

          <span id="exhibit-summary" class="exhibit-main exhibit-interior-color<%= @exhibit_color_suffix %>">
            <%= @exhibit.summary_html.html_safe %>
          </span>

          <% if has_main_text  %>
            <hr>

            <span id="exhibit-main" class="exhibit-main exhibit-interior-color<%= @exhibit_color_suffix %>">
              <%= @exhibit.main_formatted.html_safe %>
              <%= @exhibit.extended_html.html_safe %>
            </span>
          <% end %>
        </div>
      </div>

    <% else %>
      <div class="col-md-8">

        <div id="exhibit-sidebar-row" class="row">

          <div class="col-md-8"></div>

          <div class="col-md-4">
            <%= render partial: 'sidebar_nav',
                       locals: {
                          links: (@exhibit.children.empty? ? @exhibit.ancestors.first.children : @exhibit.children).sort_by(&:head_html).map { |child| [child.title, "/exhibits/#{child.path}"] }
                        } %>
          </div>
        </div>

        <div id="exhibit-text-container" class="row exhibit-text" style="margin-left: 0;margin-right: 0;margin-top: 0;margin-bottom: 4%;">

          <h3 id="exhibit-overview-title" class="exhibit-title exhibit-color<%= @exhibit_color_suffix %>">
            <%= @exhibit.subsection? ? @exhibit.title : 'Overview' %>
          </h3>

          <span id="exhibit-summary" class="exhibit-main exhibit-interior-color<%= @exhibit_color_suffix %>">
            <%= @exhibit.summary_html.html_safe %>
          </span>

          <% if has_main_text  %>
            <hr>

            <span id="exhibit-main" class="exhibit-main exhibit-interior-color<%= @exhibit_color_suffix %>">
              <%= @exhibit.main_formatted.html_safe %>
              <%= @exhibit.extended_html.html_safe %>
            </span>
          <% end %>
        </div>
      </div>

      <div class="col-md-4" style="padding-right: 0; ">

        <% if @exhibit.items.count > 0 %>
          <% color_class = @exhibit.subsection? ? 'exhibit-records-section' : 'exhibit-records' %>

          <div class="<%= color_class %> exhibit-records-link">
            <img src="https://s3.amazonaws.com/americanarchive.org/exhibits/assets/eye2.png" class="icon-big" style="top: 6px; position: absolute;">
            <a style="display: block;" class="<%= color_class %> text-center" href="<%= '/catalog?sort=year+asc&f[exhibits][]=' + @exhibit.path %>"><%= @exhibit.subsection? ? 'View records from exhibit section' : 'View all exhibit records' %></a>

          </div>
        <% end %>

        <!-- whole gallery -->
        <%= render(partial: 'exhibits/gallery',
                    locals: {
                      gallery_info: @exhibit.gallery
                    }) %>
      </div>
    <% end %>
  </div>

  <div class="row">

    <div class="exhibit-sections-bar" style="">

      <h3 id="exhibit-sections-bar-title" class="exhibit-color<%= @exhibit_color_suffix %>">Exhibit Sections</h3>

      <div class="row" style="margin:0; margin-left: 2%; margin-right: 2%;">

        <% exes = (@exhibit.parent ? @exhibit.parent.children : @exhibit.children).partition {|ex| !(ex.path.end_with?('learning-goals') || ex.path.end_with?('notes') || ex.path.end_with?('timeline')) } %>

        <!-- exhibits -->
        <% exes.first.sort_by(&:head_html).each do |exhibit| %>

          <div class="col-md-3 exhibit-section-margin">
            <div class="exhibit-section-container">
              <%= exhibit.cover.to_s.html_safe %>
            </div>
          </div>

        <% end %>

        <div class="col-md-3 exhibit-section-margin">
          <div class="exhibit-section-container ">

            <!-- notez and resourcys -->
            <% exes.last.each do |exhibit| %>

              <%= exhibit.cover.to_s.html_safe %>

            <% end %>

          </div>
        </div>

      </div>

    </div>
  </div>

  <div class="row" style="">

    <div class="col-md-4">

      <% authors = @exhibit.authors %>

      <div class="row" style="margin:0;">

        <h3 class="curator-title">Curator<%= authors.count > 1 ? 's' : '' %></h3>
      </div>

      <div class="row">
        <div class="col-md-12" style="margin-left: 4%;">

          <!-- multiple authors where available -->
          <%= render(partial: 'exhibits/authors',
            locals: {
              authors: authors
            }) %>

        </div>
      </div>
    </div>

    <div class="col-md-8">

      <div class="row" style="">
        <h3 class="curator-title">Additional Resources</h3>
      </div>

      <div class="row" style="margin-left: 0;">
        <% res = @exhibit.resources; left, right = res.each_slice( (res.size/2.0).round ).to_a if res.count > 0 %>

        <% if left %>
          <div class="col-md-6">
            <% left.each do |r| %>
              <div class="row" style="margin-bottom: 4%;">
                <a class="exhibit-color resource-link" href="<%= r[1] %>">
                  <!-- Not sure why we need to specify smaller
                       breakpoints and why 1 and 11 cols are going
                       to 2 lines -->
                  <div class="col-md-1 col-sm-1 col-xs-1">
                    <img src="https://s3.amazonaws.com/americanarchive.org/exhibits/assets/external_link.png" class="icon-size">
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-10">
                    <%= r[0] %>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
        <% if right %>
          <div class="col-md-6">
            <% right.each do |r| %>
              <div class="row" style="margin-bottom: 4%;">
                <a class="exhibit-color resource-link" href="<%= r[1] %>">
                  <!-- Not sure why we need to specify smaller
                       breakpoints and why 1 and 11 cols are going
                       to 2 lines -->
                  <div class="col-md-1 col-sm-1 col-xs-1">
                    <img src="https://s3.amazonaws.com/americanarchive.org/exhibits/assets/external_link.png" class="icon-size">
                  </div>
                  <div class="col-md-10 col-sm-10 col-xs-10">
                    <%= r[0] %>
                  </div>
                </a>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

    </div>
  </div>

  <!-- records -->

  <div class="hide">
    <%= render(partial: 'exhibits/records',
                locals: {
                  records: @exhibit.records
                }) %>
  </div>

<% end %>

<%= render partial: 'shared/title_sidebar_main',
           locals: {
             main: yield(:main)
           } %>
