<% content_for :sidebar do %>
  
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Curator</h3>
    </div>
    <div class="panel-body">
      <%= @exhibit.author_html.html_safe %>
    </div>
  </div>
  
  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Sections',
                links: @exhibit.children.map { |child| [child.title, "/exhibits/#{child.path}"] }
              } %>
  
  <br/>

  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'Resources',
                links: @exhibit.resources
              } %>
    
<% end %>
  
<% content_for :main do %>
  
  <ol class="breadcrumb hidden-xs" style="margin-top: 0px;">
    <li><a href="/exhibits">Exhibits</a></li>
    <% @exhibit.ancestors.map do |ancestor| %>
      <li><%= link_to ancestor.title, "/exhibits/#{ancestor.path}" %></li>
    <% end %>
    <li><%= @exhibit.title %></li>
  </ol>
  
  <img src="<%= @exhibit.thumbnail_url %>" class="pull-right" style="margin-left: 1em"/>
  
  <%= @exhibit.summary_html.html_safe %>
  
  <% unless @exhibit.children.empty? %>
    <hr/>
  <% else %>
    <% @exhibit.items.to_a.slice(0,6).in_groups(2,false).each do |group| %>
      <div class="row">
      <% group.each do |id, title| %>
        <div class="document col-md-4">
          <div class="thumbnail">
            <div class="caption">
              <div class="documentHeader">
                <img src="/thumbnails/<%= id %>">
                <h4 class="index_title">
                  <%= link_to(title, '/catalog/'+id) %>
                </h4>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    <% end %>
    <p style="text-align: center;">
      <a href="<%= '/catalog?view=gallery&f[exhibits][]=' + @exhibit.path %>" class="btn btn-primary">
        Show All <%= @exhibit.items.count %>
      </a>
    </p>
  <% end %>
  
  <%= @exhibit.main_formatted.html_safe %>
  
<% end %>
    
<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %> 