<% content_for :sidebar do %>

  <%= render partial: 'sidebar_nav',
             locals: {
                title: 'Sections',
                links: (@exhibit.children.empty? ? @exhibit.ancestors.first.children : @exhibit.children).sort_by(&:head_html).map { |child| [child.title, "/exhibits/#{child.path}"] }
              } %>

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">Curator</h3>
    </div>
    <div class="panel-body">
      <%= @exhibit.author_html.html_safe %>
    </div>
  </div>

  <%= render(partial: 'sidebar_nav',
             locals: {
                title: 'Resources',
                links: @exhibit.resources
              }) if !@exhibit.resources.empty? %>

<% end %>

<% content_for :main do %>

  <ol class="breadcrumb hidden-xs" style="margin-top: 0px;">
    <li><a href="/exhibits">Exhibits</a></li>
    <% @exhibit.ancestors.map do |ancestor| %>
      <li><%= link_to ancestor.title, "/exhibits/#{ancestor.path}" %></li>
    <% end %>
    <li><%= @exhibit.title %></li>
  </ol>

  <%= @exhibit.summary_html.html_safe %>

  <%= @exhibit.extended_html.html_safe %>

  <%= render(partial: 'exhibits/gallery') %>
  

  <% if @exhibit.items.count > 0 %>
    <div class="panel panel-primary view-all-gallery">
      <div class="panel-body">
        <div class="row">
          <div class="col-sm-9"><h3><%= @exhibit.title %></h3></div>
          <div class="col-sm-3"><a class="btn btn-primary" href="<%= '/catalog?sort=year+asc&f[exhibits][]=' + @exhibit.path %>" data-no-turbolink='true'>Show All Items</a></div>
        </div>
      </div>
    </div>
  <% end %>
  <br/>

  <%= @exhibit.main_formatted.html_safe %>

<% end %>

<%= render partial: 'shared/title_sidebar_main',
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %>