<div class="gallery-header">
  <h1>A Tribute to Jim Lehrer</h1>
</div>

<p></p>

<div class="row">
  <div class="region clearfix">

    <!-- START: Main Column -->
    <div class="col-md-12">

      <div class="row">

          <div class="col-md-6 collection-image">
            <img src="https://s3.amazonaws.com/americanarchive.org/special-collections/Jim_Lehrer.jpg" alt="Jim Lehrer" aria-hidden="true">

            <div class="resources-row">
              <h2>Other Resources</h2>
              <div class="col-md-12 collection-resources">
                <ul>
                  <li><%= link_to 'PBS NewsHour Special Collection', 'https://americanarchive.org/special_collections/newshour', target: "_blank" %></li>

                  <li><%= link_to '"Gavel-to-Gavel": The Watergate Scandal and Public Television', 'https://americanarchive.org/exhibits/watergate', target: "_blank" %></li>

                  <li><%= link_to 'PBS NewsHour - Remembering Jim Lehrer', 'https://www.pbs.org/newshour/nation/remembering-jim-lehrer', target: "_blank" %></li>
                </ul>
              </div>
            </div>

          </div>

          <div class="col-md-6 collection-about-col">
            <div class="">
              Jim Lehrer passed away on January 23, 2020, at the age of 85. Lehrer has been a central figure in broadcast journalism and together with Robert MacNeil, co-founded The Robert MacNeil Report in 1975, following their 1973 coverage of the Senate Watergate Hearings on public television. That show evolved the next year into The MacNeil/Lehrer Report, expanded in 1983 to The MacNeil/Lehrer NewsHour, in 1995 became The NewsHour with Jim Lehrer, and finally The PBS NewsHour beginning in 2009. As a leading figure in American journalism, especially for his ground-breaking achievements that helped advance the industry as a whole, Lehrer was awarded the Walter Cronkite Award for Excellence in Journalism (2008). He served as anchor for 36 years before retiring in 2011 and left an incredible legacy that we are proud to preserve in the AAPB for future generations in our <a href="https://americanarchive.org/special_collections/newshour">PBS NewsHour Special Collection</a>.
            </div>

            <div class="row">
              <div class="col-md-12 collection-features">
                <h2>Featured Moments</h2>
                <ul>

                  <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                    <li>
                      <a href="https://americanarchive.org/catalog/cpb-aacip_512-6688g8g717">
                        <img src="https://s3.amazonaws.com/americanarchive.org/special-collections/cpb-aacip_512-6688g8g717.jpg" alt="NPACT Coverage of the Senate Watergate Hearings" aria-hidden="true">
                        <h3 class="index-title bg-color-<%= ['purple','pink','red'].sample %>">
                          NPACT Coverage of the Senate Watergate Hearings
                        </h3>
                      </a>
                    </li>
                  </div>

                  <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                    <li>
                      <a href="https://americanarchive.org/catalog/cpb-aacip_507-901zc7sd7n#at_161.6943884_s">
                        <img src="https://s3.amazonaws.com/americanarchive.org/special-collections/cpb-aacip_507-901zc7sd7n.jpg" alt="Early MacNeil/Lehrer Report" aria-hidden="true">
                        <h3 class="index-title bg-color-<%= ['purple','pink','red'].sample %>">
                          Early MacNeil/Lehrer Report
                        </h3>
                      </a>
                    </li>
                  </div>
                  
                  <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                    <li>
                      <a href="https://americanarchive.org/catalog/cpb-aacip_507-b853f4m92b">
                        <img src="https://s3.amazonaws.com/americanarchive.org/special-collections/cpb-aacip_507-b853f4m92b.jpg" alt="Fifteen Years of MacNeil/Lehrer" aria-hidden="true">
                        <h3 class="index-title bg-color-<%= ['purple','pink','red'].sample %>">
                          Fifteen Years of MacNeil/Lehrer
                        </h3>
                      </a>
                    </li>
                  </div>
                  
                  <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                    <li>
                      <a href="https://americanarchive.org/catalog/cpb-aacip_507-d21rf5m32r#at_2184.00784_s">
                        <img src="https://s3.amazonaws.com/americanarchive.org/special-collections/cpb-aacip_507-d21rf5m32r.jpg" alt="25th Anniversary Episode of the NewsHour" aria-hidden="true">
                        <h3 class="index-title bg-color-<%= ['purple','pink','red'].sample %>">
                          25th Anniversary Episode of the NewsHour
                        </h3>
                      </a>
                    </li>
                  </div>                      

                  <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                    <li>
                      <a href="https://americanarchive.org/catalog/cpb-aacip_525-p843r0r24z#at_3201.2434_s">
                        <img src="https://s3.amazonaws.com/americanarchive.org/special-collections/cpb-aacip_525-p843r0r24z.jpg" alt="Jim Lehrer Announces His Retirement" aria-hidden="true">
                        <h3 class="index-title bg-color-<%= ['purple','pink','red'].sample %>">
                          Jim Lehrer Announces His Retirement
                        </h3>
                      </a>
                    </li>
                  </div>
                  
                  <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                    <li>
                      <a href="https://youtu.be/cHsceZqsH2M?t=4081">
                        <img src="https://s3.amazonaws.com/americanarchive.org/special-collections/Lehrer.jpg" alt="Preserving Public Broadcasting at 50 Years Event at the Library of Congress" aria-hidden="true">
                        <h3 class="index-title bg-color-<%= ['purple','pink','red'].sample %>">
                          Preserving Public Broadcasting at 50 Years
                        </h3>
                      </a>
                    </li>
                  </div>
                  
                </ul>
              </div>
            </div>

          </div>
        </div>

    </div>
    <!-- END: Main Column -->

  </div>
</div>
