<div class="gallery-header">
  <h1>A Tribute to Robert MacNeil</h1>
</div>

<p></p>

<div class="row">
  <div class="region clearfix">

    <!-- START: Main Column -->
    <div class="col-md-12">

      <div class="row">

        <div class="col-md-6 collection-image">
          <img src="https://s3.amazonaws.com/americanarchive.org/tributes/RobertMacNeil.png" alt="Jim Lehrer" aria-hidden="true">

          <div class="resources-row">
            <h2>Other Resources</h2>
            <div class="col-md-12 collection-resources">
              <ul>
                <li><%= link_to 'PBS NewsHour Special Collection', 'https://americanarchive.org/special_collections/newshour', target: "_blank" %></li>

                <li><%= link_to '"Gavel-to-Gavel": The Watergate Scandal and Public Television', 'https://americanarchive.org/exhibits/watergate', target: "_blank" %></li>

                <li><%= link_to 'PBS NewsHour - Remembering Jim Lehrer', 'https://www.pbs.org/newshour/nation/remembering-jim-lehrer', target: "_blank" %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-6 collection-about-col">
          <div style="margin-bottom: 4vh;">
            Journalist Robert MacNeil passed away on April 12, 2024, at the age of 93. Alongside Jim Lehrer, MacNeil co-founded The Robert MacNeil Report in 1975, following their 1973 coverage of the Senate Watergate Hearings on public television. That show evolved the next year into The MacNeil/Lehrer Report, expanded in 1983 to The MacNeil/Lehrer NewsHour, in 1995 became The NewsHour with Jim Lehrer, and finally, The PBS NewsHour beginning in 2009.
          </div>

          <div style="margin-bottom: 4vh;">
            MacNeil co-anchored the series for 20 years and helped guide millions through extraordinary times with his intelligent, passionate, and humane storytelling. His contributions to the field were immeasurable, and his legacy will continue to inspire generations to come. MacNeil's description of his and Lehrer’s intent to provide “a place where the news is allowed to breathe, where we can calmly, intelligently look at what has happened, what it means and why it is important” has resonated deeply with the AAPB staff. MacNeil and Lehrer are heroes to us as we have grown to appreciate the enormous value to our lives of institutions that serve the public in vital ways as the NewsHour does and to become more grateful than ever for the efforts of those who have built and maintained those institutions.

            MacNeil’s impact lives on in the archive where nearly 15,000 episodes of the PBS NewsHour and its predecessor programs are preserved in the <a href="https://americanarchive.org/special_collections/newshour">PBS NewsHour Special Collection</a>.
          </div>
            
          <div style="margin-bottom: 4vh;">
            Watch <a href="https://www.pbs.org/newshour/show/renowned-journalist-and-newshour-co-founder-robert-macneil-dies-at-93">PBS NewsHour’s tribute</a>.
          </div>

          <div class="row">
            <div class="col-md-12 collection-features">
              <h2>Featured Moments</h2>
              <ul>

                <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                  <li>
                    <a href="https://americanarchive.org/catalog/cpb-aacip-507-f18sb3xj3q">
                      <img src="https://s3.amazonaws.com/americanarchive.org/thumbnail/cpb-aacip-507-f18sb3xj3q.jpg" alt="Interview with Ayatollah Khomeini" aria-hidden="true">
                      <h3 class="index-title tribute-box bg-color-<%= ['purple','pink','red'].sample %>">
                        Interview with Ayatollah Khomeini
                      </h3>
                    </a>
                  </li>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                  <li>
                    <a href="https://americanarchive.org/catalog/cpb-aacip-507-348gf0nd1k">
                      <img src="https://s3.amazonaws.com/americanarchive.org/thumbnail/cpb-aacip-507-348gf0nd1k.jpg" alt="Interview with Fidel Castro" aria-hidden="true">
                      <h3 class="index-title tribute-box bg-color-<%= ['purple','pink','red'].sample %>">
                        Interview with Fidel Castro
                      </h3>
                    </a>
                  </li>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                  <li>
                    <a href="https://americanarchive.org/catalog/cpb-aacip-507-st7dr2q38d">
                      <img src="https://s3.amazonaws.com/americanarchive.org/thumbnail/cpb-aacip-507-st7dr2q38d.jpg" alt="Last Time Co-Anchoring The MacNeil/Lehrer NewsHour" aria-hidden="true">
                      <h3 class="index-title tribute-box bg-color-<%= ['purple','pink','red'].sample %>">
                        Last Time Co-Anchoring <i>The MacNeil/Lehrer NewsHour</i>
                      </h3>
                    </a>
                  </li>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                  <li>
                    <a href="https://americanarchive.org/catalog/cpb-aacip-507-cn6xw48g32">
                      <img src="https://s3.amazonaws.com/americanarchive.org/thumbnail/cpb-aacip-507-cn6xw48g32.jpg" alt="Introducing Robert MacNeil’s Documentary, Do You Speak American?" aria-hidden="true">
                      <h3 class="index-title tribute-box bg-color-<%= ['purple','pink','red'].sample %>">
                        Introducing Robert MacNeil’s Documentary, <i>Do You Speak American?</i>
                      </h3>
                    </a>
                  </li>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                  <li>
                    <a href="https://americanarchive.org/catalog/cpb-aacip-512-6688g8g717">
                      <img src="https://s3.amazonaws.com/americanarchive.org/thumbnail/cpb-aacip-512-6688g8g717.jpg" alt="First Senate Watergate Hearings Broadcast" aria-hidden="true">
                      <h3 class="index-title tribute-box bg-color-<%= ['purple','pink','red'].sample %>">
                        First Senate Watergate Hearings Broadcast 
                      </h3>
                    </a>
                  </li>
                </div>

                <div class="col-md-4 col-sm-3 col-xs-6 featured-item">
                  <li>
                    <a href="https://americanarchive.org/catalog/cpb-aacip-524-h98z893d1d">
                      <img src="https://s3.amazonaws.com/americanarchive.org/thumbnail/cpb-aacip-524-h98z893d1d.jpg" alt="Word on Words Interview" aria-hidden="true">
                      <h3 class="index-title tribute-box bg-color-<%= ['purple','pink','red'].sample %>">
                        <i>Word on Words</i> Interview
                      </h3>
                    </a>
                  </li>
                </div>


              </ul>
            </div>
          </div>

        </div>

    </div>
    <!-- END: Main Column -->

  </div>
</div>
