<% cache('blog', :expires_in => 1.hour) do %>
  <% Wordpress::Client.new.get_posts('blog.americanarchive.org', number: 1).each do |post| %>
    <h3 class="list-group-item-heading"><a href="<%= post.url %>"  target="_blank" title="From the AAPB Blog:<%= post.title %>"><%= post.title %></a></h3>
    <p class="list-group-item-text">
      <%= truncate(strip_tags(post.content.html_safe), :length => 150) %>
    </p>
    <p class="list-group-item-text"><a href="<%= post.url %>" target="_blank" title="Visit the AAPB Blog"><strong>Read More</strong></a></p>
  <% end %>
<% end %>