<%

items.shuffle!
# Ensure items fill an array that is a multiple of 3,
# because the carousel is 3 across. Otherwise, you have
# empty items in the carousel.
items = items * 3 unless items.length % 3 == 0

%>

<div id="<%= id %>" class="carousel slide featured-carousel" data-ride="carousel">
  <%# TODO: The "featured-carousel" class should probably be renamed to something more generic,
            with corresponding changes in the CSS. On the homepage there is also id="featured-carousel".%>

  <div class="carousel-inner" role="listbox">
    <% items.each_slice(3).each_with_index do |chunk, index| %>
      <div class="item <%= 'active' if index == 0%>">
        <div class="panel panel-default naked-panel">
          <div class="panel-body">
            <ul class="list-group">
              <% chunk.each do |item| %>
                <article>
                  <%= yield item %>
                </article>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
    <% if defined?(view_all) && defined?(view_all_href) %>
      <div class="btn-group btn-group-justified" role="group" aria-label="organizations">
        <a href="<%= view_all_href %>" class="btn btn-default" role="button"><%= view_all %></a>
      </div>
    <% end %>
  </div>

  <a class="left carousel-control" href="#<%= id %>" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>

  <div class="right carousel-control with-pause">
    <div id="control-holder-right-top">
      <a href="#<%= id %>" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right white" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div id="control-holder-right-bottom">
      <button id="playButton-<%= id %>" class="playButton" title="Play Carousel" aria-label="Play Carousel" style="display:none;"><span class="glyphicon glyphicon-play white" aria-hidden="true"></span></button>
      <button id="pauseButton-<%= id %>" class="pauseButton" title="Pause Carousel" aria-label="Pause Carousel"><span class="glyphicon glyphicon-pause white" aria-hidden="true"></span></button>
    </div>
  </div>
</div>
<script>
  var btn = $('#playButton-<%= id %>,#pauseButton-<%= id %>').on('click', function() {
    if($(this).hasClass("playButton")){
      $('#<%= id %>').carousel('cycle');
      $('#playButton-<%= id %>').hide();
      $('#pauseButton-<%= id %>').show()
    } else if ($(this).hasClass("pauseButton"))  {
      $('#<%= id %>').carousel('pause');
      $('#pauseButton-<%= id %>').hide();
      $('#playButton-<%= id %>').show()
    }
  });
</script>
