<div class="well intro-text">
  <h1>Exhibits</h1>
</div>

<%= render layout: 'shared/carousel', 
           locals: {
                    id: 'exhibits-carousel', 
                    items: Exhibit.all
                   } do |item| %>
  <a href="<%= "/exhibits/#{item.slug}" %>" class="list-group-item" >
    <img src="<%= item.thumbnail_url %>" title="<%= item.name %>" alt="<%= item.name %>" />
    <span class="carousel-caption">
      <h3 class="list-group-item-heading"><%= item.name %></h3>
    </span>
  </a>
<% end %>