<div class="well intro-text">
  <h1>Participating Organizations</h1>
  <p>Learn about the history, significant productions, and archive contributions of more than 120 public media stations and archives.</p>
</div>

<div id="orgs-carousel" class="carousel slide featured-carousel naked-panel" data-ride="carousel">
  <div class="carousel-inner clearfix" role="listbox">

    <% Organization.all.select { |org| org.history_html }.shuffle.each_slice(3).each_with_index do |orgs, index| %>
      <div class="item <%= 'active' if index == 0%>">

        <!-- Panel - Welcome Text Blocks -->
        <div class="panel panel-default naked-panel">
          <div class="panel-body">

            <div class="list-group">
              <% orgs.each do |org| %>
                <a href="/participating-orgs/<%= org.id %>" class="list-group-item">
                  <span class="carousel-caption">
                    <h3 class="list-group-item-heading"><%= org.short_name %></h3>
                    <h4 class="list-group-item-heading"><%= org.city %>, <%= org.state %></h4>
                    <span class="list-group-item-text description">
                      <p><%= org.summary_html.html_safe %></p>
                    </span>
                  </span>
                </a>
              <% end %>
            </div>
          
          </div>
        </div>
        
      </div>
    <% end %>

    <div class="btn-group btn-group-justified" role="group" aria-label="organizations">
      <a href="/participating-orgs" class="btn btn-default" role="button">View All Organizations</a>
    </div>

  </div>
  <a class="left carousel-control" href="#orgs-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#orgs-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

