<% content_for :head do %>
  <meta name="description" content="A collaboration between WGBH and the Library of Congress with a long-term vision to preserve and make accessible significant historical content created by public media.">

  <%= javascript_include_tag 'background-video' %>
<% end %>

<!-- Welcome -->
<div class="jumbotron home-jumbotron" id="welcome">
  <div class="container">
    <div class="well intro-text">
      <h1 class="hidden">American Archive of Public Broadcasting</h1>
      <h2 class="tagline">Discover historic programs of publicly funded radio and television across America. Watch and listen.</h2>
    </div>

    <!-- Panel - Search -->

    <div class="panel panel-default search-panel naked-panel" id="home-search">

      <div class="panel-body">
          <%= render partial: 'catalog/search_form_big'  %>
      </div>
    </div>

    <%= render partial: 'home/featured_carousel', locals: { gallery: 'home' } %>


    <!-- Panel - Welcome Text Blocks -->

    <div class="row" id="welcome-panel">
      <div class="col-md-6 column">

        <h4>About the AAPB</h4>

        <h3 class="list-group-item-heading">A Collaboration with a Long-Term Vision</h3>
        <p class="list-group-item-text">We are a collaboration between WGBH and the Library of Congress with a long-term vision to preserve and make accessible significant historical content created by public media, and to coordinate a national effort to save at-risk public media before its content is lost to posterity.</p>


        <div class="btn-group" role="group" aria-label="...">
          <a href="/about-the-american-archive" title="Learn More About the AAPB" class="btn btn-link btn-sm">Learn More</a>
          <a href="/contact-us" title="Learn More About the AAPB" class="btn btn-link btn-sm">Contact the AAPB</a>
        </div>


      </div>

      <div class="col-md-6 column">
        <%= render partial: 'home/blog'  %>
      </div>
    </div>

  </div>
</div>
<!-- END Welcome -->

<!-- Special Collections -->

<div class="video-background-container" id="special-collections">
  <video class="background-video" preload="preload" id="video-background" autoplay="autoplay" loop="loop" muted plays-inline poster="https://s3.amazonaws.com/americanarchive.org/special-collections/special-collections-poster.png" src="https://s3.amazonaws.com/americanarchive.org/special-collections/special_collections_background_video.mp4" type="video/mp4">
    <source src="https://s3.amazonaws.com/americanarchive.org/special-collections/special_collections_background_video.mp4" type="video/mp4"></source>
    <source src="https://s3.amazonaws.com/americanarchive.org/special-collections/special_collections_background_video.webm" type="video/webm"></source>
  </video>
  <div class="special-collections-content">
    <div class="special-collections-bg-control hidden-sm hidden-xs">
      <button id="video-bg-control" class="video-bg-play" aria-label="Pause Video">Pause Video</button>
    </div>
    <div class="container">
      <div class="well intro-text">
        <h2>Special Collections</h2>
        <p>
          Access featured collections preserved in the American Archive of Public Broadcasting.
        </p>
        <%= render partial: 'home/special_collections_carousel' %>
      </div>
    </div>
  </div>
</div>


<!-- END Special Collections -->

<!-- Exhibits -->
<div class="jumbotron home-jumbotron" id="exhibits">
  <div class="container">

    <div class="well intro-text">
      <h2>Exhibits</h2>
      <p>
        Explore in depth selected topics of historical
        significance as covered by public radio and television.
      </p>
    </div>
    <%= render partial: 'home/exhibits_carousel' %>
  </div>
</div>
<!-- END Exhibits -->

<!-- Fix It -->
<div class="jumbotron home-jumbotron" id="help-us">
  <div class="container">

    <div class="well intro-text">
      <h2>Help Preserve Public Media!</h2>
      <p>
        AAPB Citizen Archivist Toolkit
      </p>
    </div>

    <%= render partial: 'home/help_us'  %>

  </div>
</div>
<!-- END Fix It -->

<!-- Browse -->
<div class="jumbotron home-jumbotron" id="browse">
  <div class="container">

    <%= render partial: 'home/browse_list'  %>

  </div>
</div>
<!-- END Browse -->

<!-- Contributing Stations -->
<div class="jumbotron home-jumbotron hidden-xs" id="stations">
  <div class="container">

    <%= render partial: 'home/orgs_map'  %>

  </div>
</div>
<!-- END Contributing Stations -->

<!-- Video -->
<div class="jumbotron home-jumbotron" id="video">
  <div class="container">

    <div class="well intro-text">
      <h2>Every Picture Tells a Story</h2>
      <p>Watch a five minute introduction to the treasures of public broadcasting, written and produced by Elizabeth Deane.</p>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/108272934" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

  </div>
</div>
<!-- END Video -->


<!-- Sticky Nav -->
<div id="homenav" class="well well-sm affix-top hidden-xs" data-spy="affix" data-offset-top="250">
  <ul class="nav nav-pills">
    <li role="presentation" class="aa-link"><a href="#top">American Archive</a></li>
    <li role="presentation"><a href="#stations">Organizations</a></li>
    <li role="presentation"><a href="#special-collections">Special Collections</a></li>
    <li role="presentation"><a href="#exhibits">Exhibits</a></li>
    <li role="presentation"><a href="#help-us">Help Us!</a></li>
    <li role="presentation"><a href="#browse">Browse</a></li>
    <li role="presentation"><a href="#video">Our Story</a></li>
  </ul>
</div>
