<% content_for :head do %>
  <meta name="description" content="A collaboration between GBH and the Library of Congress with a long-term vision to preserve and make accessible significant historical content created by public media.">

  <meta property="og:image" content="https://americanarchive.org/site-ui/aapb-square-logo.png" />
  <meta property="og:image:width" content="300">
  <meta property="og:image:height" content="300">
  <%= javascript_include_tag 'background-video' %>
<% end %>

<!-- Welcome -->
<div class="jumbotron home-jumbotron" id="welcome">
  <div class="container">
    <div class="well intro-text">
      <h1 class="hidden">American Archive of Public Broadcasting</h1>
      <h2 class="tagline">Discover historic programs of publicly funded radio and television across America. Watch and listen.</h2>
    </div>

    <!-- Panel - Search -->

    <div class="panel panel-default search-panel naked-panel" id="home-search">

      <div class="panel-body">
          <%= render partial: 'catalog/search_form_big'  %>
      </div>
    </div>

    <%= render partial: 'home/featured_carousel', locals: { gallery: 'home' } %>

    <!-- Panel - Welcome Text Blocks -->
    <div class="row" id="welcome-panel">
      <div class="col-md-4 column">
        <h4>About the AAPB</h4>
        <h3 class="list-group-item-heading">A Collaboration with a Long-Term Vision</h3>
        <p class="list-group-item-text">
          We are a collaboration between GBH and the Library of Congress with a long-term vision to preserve and make accessible significant historical content created by public media, and to coordinate a national effort to save at-risk public media before its content is lost to posterity.
        </p>
        <div class="btn-group" role="group" aria-label="...">
          <a href="/about-the-american-archive" title="Learn More About the AAPB" class="btn btn-link btn-sm">Learn More</a>
          <a href="/contact-us" title="Learn More About the AAPB" class="btn btn-link btn-sm">Contact the AAPB</a>
        </div>
      </div>

      <div class="col-md-4 column">
        <h4>Contribute to the AAPB</h4>
        <h3 class="list-group-item-heading">Learn More About Free Digitization with the AAPB</h3>
        <p class="list-group-item-text">
          We invite stations, producers, and archives to submit their physical and digital collections for consideration in the AAPB's Mellon Foundation-funded, no-cost Digitization and Preservation Program.
        </p>
        <div class="btn-group" role="group" aria-label="...">
          <a href="/help/contribute" title="Contribute" class="btn btn-link btn-sm">Contribute</a>
        </div>
      </div>

      <div class="col-md-4 column">
        <%= render partial: 'home/blog' %>
      </div>
    </div>
  </div>
</div>
<!-- END Welcome -->

<!-- Special Collections -->

<div class="video-background-container" id="special-collections">
  <video class="background-video" preload="preload" id="video-background" autoplay="autoplay" loop="loop" muted plays-inline poster="https://s3.amazonaws.com/americanarchive.org/special-collections/special-collections-poster.png" src="https://s3.amazonaws.com/americanarchive.org/special-collections/special_collections_background_video.mp4" type="video/mp4">
    <source src="https://s3.amazonaws.com/americanarchive.org/special-collections/special_collections_background_video.mp4" type="video/mp4"></source>
    <source src="https://s3.amazonaws.com/americanarchive.org/special-collections/special_collections_background_video.webm" type="video/webm"></source>
  </video>
  <div class="special-collections-content">
    <div class="special-collections-bg-control hidden-sm hidden-xs">
      <button id="video-bg-control" class="video-bg-play" aria-label="Pause Video">Pause Video</button>
    </div>
    <div class="container">
      <div class="well intro-text">
        <h2>Special Collections</h2>
        <p>
          Access featured collections preserved in the American Archive of Public Broadcasting.
        </p>
        <%= render partial: 'home/special_collections_carousel' %>
      </div>
    </div>
  </div>
</div>


<!-- END Special Collections -->

<!-- Exhibits -->
<div class="jumbotron home-jumbotron" id="exhibits">
  <div class="container">

    <div class="well intro-text">
      <h2>Exhibits</h2>
      <p>
        Explore in depth selected topics of historical
        significance as covered by public radio and television.
      </p>
    </div>
    <%= render partial: 'home/exhibits_carousel' %>
  </div>
</div>
<!-- END Exhibits -->

<!-- Primary Source Discussion Sets -->
<div class="jumbotron home-jumbotron" id="primary-source-sets">
  <div class="container">

    <div class="well intro-text">
      <h2>Multimedia Primary Source Discussion Sets</h2>
      <p>
        Leveraging the valuable digital media in the American Archive of Public Broadcasting, these Multimedia Primary Source Discussion Sets have been curated to support educators teaching topics in US History.
      </p>
    </div>
    <%= render partial: 'home/primary_source_sets_carousel' %>
  </div>
</div>
<!-- END Primary Source Discussion Sets -->

<!-- Fix It -->
<div class="jumbotron home-jumbotron" id="help-us">
  <div class="container">

    <div class="well intro-text">
      <h2>Help Preserve Public Media!</h2>
      <p>
        AAPB Citizen Archivist Toolkit
      </p>
    </div>

    <%= render partial: 'home/help_us'  %>

  </div>
</div>
<!-- END Fix It -->


<% if false %>
<!-- TEMP: remove to prevent dummy bots from clicking this and doing big searchies Browse -->
<div class="jumbotron home-jumbotron" id="browse">
  <div class="container">

    <%= render partial: 'home/browse_list'  %>

  </div>
</div>
<!-- END Browse -->
<% end %>

<!-- Contributing Stations -->
<div class="jumbotron home-jumbotron" id="stations">
  <div class="container">

    <%= render partial: 'home/orgs_map'  %>

  </div>
</div>
<!-- END Contributing Stations -->

<!-- Video -->
<div class="jumbotron home-jumbotron" id="video">
  <div id="every-picture-tells-a-story" class="container">

    <div class="well intro-text">
      <h2>Every Picture Tells a Story</h2>
      <p>Watch a five minute introduction to the treasures of public broadcasting, written and produced by Elizabeth Deane.</p>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe src="https://player.vimeo.com/video/870294335?badge=0&autopause=0&player_id=0&app_id=58479" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>

  </div>
</div>
<!-- END Video -->


<!-- Sticky Nav -->
<div id="homenav" class="well well-sm affix-top hidden-xs" data-spy="affix" data-offset-top="250">
  <ul class="nav nav-pills">
    <li role="presentation" class="aa-link"><a href="#top">American Archive</a></li>
    <li role="presentation"><a href="/special_collections">Special Collections</a></li>
    <li role="presentation"><a href="/exhibits">Exhibits</a></li>
    <li role="presentation"><a href="/primary_source_sets">For Educators</a></li>
    <li role="presentation"><a href="#stations">Organizations</a></li>
    <li role="presentation"><a href="#help-us">Help Us!</a></li>
    
    <!--     <li role="presentation"><a href="/catalog">Browse</a></li> -->

    <li role="presentation"><a href="#video">Our Story</a></li>
  </ul>
</div>
