<ul class="facet-values list-unstyled">
  <% 
    base_uri = '/catalog?' + (
      {f: (params['f'].except('access_types') rescue {})}.merge(
        params.except('action', 'controller', 'f')
      )).to_query
    facet_counts = Hash[display_facet.items.map{|i| [i.value, i.hits]}]
    [
      {
        value: PBCore::PUBLIC_ACCESS,
        title: 'Available Online',
        info_html: 'The default: All video and audio that can be viewed or listened to in the Online Reading Room.'},
      {
        value: PBCore::DIGITIZED_ACCESS,
        title: 'All Digitized',
        info_html: 'All video and audio, available either online, or on location at WGBH or the Library of Congress. <a href="/on-location">More information</a>.'},
      {
        value: PBCore::ALL_ACCESS,
        title: 'All Records',
        info_html: 'All 2.5 million records, including digitized content (online and on-site only), and content that has not yet even been digitized.'}
    ].each do |option|
  %>
    <li>
      <span class="facet-label">
        <% if params.try(:[],'f').try(:[],'access_types') == [option[:value]] %>
          <span class="selected"><%= option[:title] %></span>
          <a class="remove">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="sr-only">[checked]</span>
          </a>
        <% else %>
          <span class="selected"><a href="<%= base_uri %>&amp;f[access_types][]=<%= option[:value] %>" class="facet_select"><%= option[:title] %></a></span>
        <% end %>
      </span>
      <span class="facet-count"><%= facet_counts[option[:value]] || 0 %></span>
    </li>
    <li><div class="well well-sm"><small>
      <%= option[:info_html].html_safe %>
    </small></div></li>
  <% end %>
</ul>