<% PBCore.new(document.instance_variable_get('@_source')['xml']).tap do |pbcore| %>

  <% # header bar for doc items in index view -%>
  <div class="documentHeader">

  <%# main title container for doc partial view 
  How many bootstrap columns need to be reserved
  for bookmarks control depends on size. 
  -%>


    <%= link_to(url_for_document(document))  do %>
      <img src="<%= pbcore.img_src %>" alt="thumbnail of <%= pbcore.title %>"/>
    <% end %>
    <h4 class="index_title">
      <%= link_to_document(document, pbcore.title) %>
    </h4>
      
    <% 
      request.params.try(:[],'f').try(:[],'exhibits').tap do |exhibit_names|
        exhibit_names.each do |name|
          %>
            <div>
              <%= Exhibit.find_by_name(name).items[document.id] %>
            </div>
          <%
        end if exhibit_names
      end
    %>
    
    <% # bookmark functions for items/docs -%>
    <%#= render_index_doc_actions document, :wrapping_class => "index-document-functions col-sm-3 col-lg-2" %>
  </div>

<% end %>
