<% PBCore.new(document['xml']).tap do |pbcore| %>

  <% # header bar for doc items in index view -%>
  <div class="documentHeader media"><!-- Document Header -->


        <!-- Start Grid -->
        <div class="row">

          <!-- START Column -->
          <div class="col-md-3">

            <%= link_to(url_for_document(document))  do %>
              <img src="<%= pbcore.img_src %>"
                   class="media-object"
                   aria-hidden="true"
                   alt="thumbnail of <%= pbcore.title %>" />
            <% end %>

          </div>
          <!-- END Column -->

          <!-- START Column -->
          <article class="col-md-9">
            <h2><%= link_to_document(document, pbcore.title) %></h2>

            <% pbcore.descriptions.each do |description| %>
              <p><%= truncate(description, length: 300, separator: '.') %></p>
            <% end %>

            <% pbcore.titles.each do |type,title| %>
              <dl class="clearfix">
                <dt><%= type %></dt>
                <dd><%= title %></dd>
              </dl>
            <% end %>

            <% pbcore.asset_dates.each do |type,date| %>
              <dl class="clearfix">
                <dt><%= type %></dt>
                <dd><%= date %></dd>
              </dl>
            <% end %>

            <dl class="clearfix">
              <dt>Organization</dt>
              <dd><%= pbcore.organization.short_name %></dd>
            </dl>

            <% if params[:q].present? && pbcore.captions_src != nil %>
              <% CaptionFile.new(pbcore.id).captions_from_query(@query_for_captions).tap do |caption| %>

                <% if caption != nil %>
                  <dl class="clearfix">
                    <dt>Captions</dt>
                    <dd>
                      <%= highlight(
                        truncate(caption, length: 400, separator: '.'),
                        @query_for_captions) %>
                    </dd>
                  </dl>
                <% end %>
              <% end %>
            <% end %>

          </article>
          <!-- END Column -->
        </div>
          <!-- END Grid -->



    <% # bookmark functions for items/docs -%>
    <%#= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>

  </div><!-- END Document Header -->

<% end %>
