<% PBCore.new(document['xml']).tap do |pbcore| %>

  <% # header bar for doc items in index view -%>
  <div class="documentHeader media"><!-- Document Header -->


        <!-- Start Grid -->
        <div class="row">

          <!-- START Column -->
          <div class="col-md-3 thumbnail-col">
            <%= link_to(url_for_document(document)) do %>
              <div>
                <img src="<%= pbcore.img_src %>"
                     class="media-object index-thumb"
                     aria-hidden="true"
                     alt="thumbnail of <%= pbcore.title %>" />
                <% if pbcore.media_type == PBCore::MOVING_IMAGE && pbcore.digitized? == true %>
                  <div>
                    <img src="/thumbs/VIDEO.png"
                         class="index-thumb"
                         aria-hidden="true"
                         alt="play" />
                  </div>
                <% end %>
              </div>
            <% end %>

          </div>
          <!-- END Column -->

          <!-- START Column -->
          <article class="col-md-9">
            <h2><%= link_to_document(document, pbcore.title) %></h2>

              <% unless pbcore.asset_date.nil? %>
                <span class="index-data-title">Date</span>: <%= pbcore.asset_dates.map{ |date| date[1] }.join(', ') %>
              <% end %>


              <% unless pbcore.producing_organizations_facet.nil? %>
                <span class="index-data-title">Producing Organization</span>: <%= pbcore.producing_organizations_facet.join(', ') %>
              <% end %>

            <p><%= truncate(pbcore.descriptions[0], length: 500) + ( "..." if pbcore.descriptions[0].length > 500) %></p>
          </article>
          <!-- END Column -->
        </div>
          <!-- END Grid -->



    <% # bookmark functions for items/docs -%>
    <%#= render_index_doc_actions document, :wrapping_class => "index-document-functions" %>

  </div><!-- END Document Header -->

<% end %>
