<ul class="facet-values list-unstyled">
  <% 
    base_uri = '/catalog?' + (
      {f: (params['f'].except('organization','state') rescue {})}.merge(
        params.except('action', 'controller', 'f')
      )).to_query
    display_facet.items.group_by do |option|
      option.value.match(/\((..)\)/)[1]
    end.sort.each do |state_abbr, options|
  %>
    <li>
      <span class="facet-label"><b>
        <% if params.try(:[],'f').try(:[],'state') == [state_abbr] %>
          <span class="selected"><%= AAPB::STATES[state_abbr] %></span>
          <a class="remove">
            <span class="glyphicon glyphicon-ok"></span>
            <span class="sr-only">[checked]</span>
          </a>
        <% else %>
          <span class="selected"><a href="<%= base_uri %>&amp;f[state][]=<%= CGI.escape(state_abbr) %>" class="facet_select"><%= AAPB::STATES[state_abbr] %></a></span>
        <% end %>
      </b></span>
    </li>
    <%
      options.each do |option|
    %>
      <li>
        <span class="facet-label">
          <% if params.try(:[],'f').try(:[],'organization') == [option.value] %>
            <span class="selected"><%= option.value %></span>
            <a class="remove">
              <span class="glyphicon glyphicon-ok"></span>
              <span class="sr-only">[checked]</span>
            </a>
          <% else %>
            <span class="selected"><a href="<%= base_uri %>&amp;f[organization][]=<%= CGI.escape(option.value) %>" class="facet_select"><%= option.value %></a></span>
          <% end %>
        </span>
        <span class="facet-count"><%= option.hits || 0 %></span>
      </li>
    <% end 
    end %>
</ul>