<% content_for :video do %>


<% end %>
  
<!-- player or thumbnail or message -->
<% if @available_and_playable %>

  <div class="row">
    <% if @pbcore.transcript_html %>
      <div class="col-sm-12 col-md-6 player">
    <% else %>
      <div class="col-sm-12 col-md-8 player col-md-offset-2">
    <% end %>

        <section class="videocontent">

          <video src="<%= @pbcore.media_srcs.first %>" controls>

        </section>

        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'time_range' %>
          </div>
        </div>

        <div style="display: none;" class="row">
          <div class="col-md-12">

            <button id="skip-back" class="player-button skip-button">◀◀ 10s</button>
            <button id="skip-forward" class="player-button skip-button">10s ▶▶</button>

            <% if @pbcore.seconds > 0 %>
              <span id="time-range-switch-container">
                <label class="switch">
                  <input id="time-range-switch" type="checkbox">
                  <span class="slider round"></span>
                </label>

                <span style="font-size: 12px;">Share a Segment</span>
              </span>
            <% end %>
          </div>
        </div>

        <%= render partial: 'share_modal' %>

      </div>

    <div class="hidden-sm hidden-xs">
      <%= render partial: 'transcript' %>
    </div>

  </div>

<% else %>
  <!-- no media thumbnail -->
  <img src="<%= @pbcore.img_src %>" alt="thumbnail of <%= @pbcore.title %>">
  <div style="margin-top: 1em;" class="content-text">
    <% if @pbcore.outside_urls %>
      <% @pbcore.outside_urls.each do |url| %>
        <%= link_to(
          "#{@pbcore.video? ? 'View' : 'Listen'} online at #{@pbcore.outside_baseurl(url)}",
          url,
          {target: '_blank'}
          ) %>
        <br>
      <% end %>
    <% end %>
  </div>

  <% if @pbcore.transcript_html %>
    <div class="row">
      <%= render partial: 'transcript' %>
    </div>
  <% end %>
<% end %>


<% unless @available_and_playable %>
  <% if @pbcore.public? && !current_user.usa? %>
    Please note: This content is currently not available at your location.
  <% elsif @pbcore.protected? %>
    Please note: This content is only available at GBH and the Library of
    Congress, either due to copyright restrictions or because this content has
    not yet been reviewed for copyright or privacy issues. For information about
    on location research, <a href="/on-location">click here</a>.
  <% elsif @pbcore.private? %>
    Please note: This content is only available at the Library of Congress due
    to copyright restrictions or privacy concerns. For information about on
    location research, <a href="/on-location">click here</a>.
  <% elsif !@pbcore.digitized? && !@pbcore.contributing_organization_objects.empty? %>
    This content has not been digitized. Please contact the contributing organization(s) listed below.
  <% elsif !@pbcore.digitized? && @pbcore.contributing_organization_objects.empty? %>
    This content has not been digitized.

  <% end %>
<% end %>

<% @pbcore.reference_urls.each do |url| %>
  <%= link_to 'More information on this record is available.', url %>
<% end %>
