<% content_for :video do %>
  <link href="https://vjs.zencdn.net/7.2.3/video-js.css" rel="stylesheet">
  <script data-turbolinks-tracks="false" src="https://vjs.zencdn.net/7.2.3/video.js" ></script>
  <!-- If you'd like to support IE8 (for Video.js versions prior to v7) -->
  <script data-turbolinks-tracks="false" src="https://vjs.zencdn.net/ie8/ie8-version/videojs-ie8.min.js" ></script>
  <%= javascript_include_tag 'transcript' %>
  <%= javascript_include_tag 'mobile-transcript' %>
  <%= javascript_include_tag 'player' %>
<% end %>

<!-- player or thumbnail or message -->
<% if @available_and_playable %>

  <div class="row">
    <% if @transcript_content %>
      <div class="col-sm-12 col-md-6 player">
    <% else %>
      <div class="col-sm-12 col-md-8 player col-md-offset-2">
    <% end %>

        <section class="videocontent">
        <%=
          @pbcore.media_srcs.map do |media_src|
            media = @pbcore.video? ? 'video' : 'audio'
            content_tag(media,
                        controls: true,
                        "class" => "video-js vjs-default-skin vjs-fluid",
                        "id" => "player_media",
                        "aria-label" => "video player",
                        oncontextmenu: 'return false;',
                        preload: 'auto',
                        crossorigin: 'with-credentials',
                        :"data-setup" => '{}',
                        poster: @pbcore.img_src) do %>

              <source src="<%= media_src %>" type='<%= @pbcore.video? ? 'video/mp4' : 'audio/mp3' %>' />

              <% if @pbcore.captions_src %>
                <track kind="captions" src="/captions/<%= @pbcore.id %>.vtt" srclang="en" label="English" default="default" />
              <% end %>
              <% if ChapterFile.file_present?(@pbcore.id) %>
                <track kind="chapters" src=<%= ChapterFile.vtt_url(@pbcore.id) %> srclang="en" label="Chapters" />
              <% end %>
              <%
            end
          end.join().html_safe()
        %>
        </section>

        <div class="row">
          <div class="col-md-12">
            <button id="skip-back" class="skip-button">◀◀ 10s</button>
            <button id="skip-forward" class="skip-button">▶▶ 10s</button>
          </div>
        </div>
      </div>

    <div class="hidden-sm hidden-xs">
      <%= render partial: 'transcript' %>
    </div>

  </div>

<% else %>
  <!-- no media thumbnail -->
  <img src="<%= @pbcore.img_src %>" alt="thumbnail of <%= @pbcore.title %>">
  <div style="margin-top: 1em;" class="content-text">
    <% if @pbcore.outside_url %>
      <%= link_to(
        "#{@pbcore.video? ? 'View' : 'Listen'} online at #{@pbcore.outside_baseurl}",
        @pbcore.outside_url,
        {target: '_blank'}
      ) %>
    <% end %>
  </div>

  <% if @transcript_content %>
    <div class="row">
      <%= render partial: 'transcript' %>
    </div>
  <% end %>
<% end %>


<% unless @available_and_playable %>
  <% if @pbcore.public? && !current_user.usa? %>
    Please note: This content is currently not available at your location.
  <% elsif @pbcore.protected? %>
    Please note: This content is only available at WGBH and the Library of Congress. For information about on location research, <a href="/on-location">click here</a>.
  <% elsif @pbcore.private? %>
    Please note: This content is only available at the Library of Congress. For information about on location research, <a href="/on-location">click here</a>.
  <% elsif !@pbcore.digitized? && !@pbcore.contributing_organization_objects.empty? %>
    This content has not been digitized. Please contact the contributing organization(s) listed below.
  <% elsif !@pbcore.digitized? && @pbcore.contributing_organization_objects.empty? %>
    This content has not been digitized.

  <% end %>
<% end %>

<% @pbcore.reference_urls.each do |url| %>
  <%= link_to 'More information on this record is available.', url %>
<% end %>
