<a name="player"></a>

<% if !@pbcore.media_srcs.empty? &&
    !@pbcore.outside_url &&
    can?(:play, @pbcore) %>
  <%= render partial: 'catalog/player' %>

  <div class="row">
    <% if @show_transcript %>
      <div class="col-sm-12 col-md-6 exhibit-promo">
    <% else %>
      <div class="col-sm-12 col-md-8 col-md-offset-2 exhibit-promo">
    <% end %>
        <% if @pbcore.playlist_group %>
          <div id="playlist" class="row">
            <div class="col-md-6 col-xs-6 playlist-pull-left">
              <% if @pbcore.playlist_prev_id %>
                <a href="/catalog/<%= @pbcore.playlist_prev_id %>" data-no-turbolink='true'>&#x25c0; Part <%= @pbcore.playlist_order - 1 %></a>
              <% end %>
            </div>
            <div class="col-md-6 col-xs-6 playlist-pull-right">
              <% if @pbcore.playlist_next_id %>
                <a href="/catalog/<%= @pbcore.playlist_next_id %>" data-no-turbolink='true'>Part <%= @pbcore.playlist_order + 1 %> &#x25b6;</a>
              <% end %>
            </div>
          </div>
        <% end %>
        <% Exhibit.find_top_by_item_id(@pbcore.id).each do |exhibit| %>
          <% exhibit_caption = "This record is featured in “#{exhibit.title}.”" %>
          <a href="/exhibits/<%= exhibit.path %>" class="btn-featured-record" title="<%= exhibit_caption %>" id="exhibit-banner">
            <span class="glyphicon glyphicon-star"></span>
            <strong><%= exhibit_caption %></strong>
          </a>
        <% end %>
        <% if @pbcore.special_collection %>
          <% coll = SpecialCollection.find_by_path(@pbcore.special_collection) %>
          <% coll_caption = "This record is featured in “#{coll.title}.”" %>
          <a href="/special_collections/<%= coll.path %>" class="btn-featured-record" title="<%= coll_caption %>" id="exhibit-banner">
            <span class="glyphicon glyphicon-star"></span>
            <strong><%= coll_caption %></strong>
          </a>
        <% end %>
      </div>
  </div>
  
<% else %>
  <img src="<%= @pbcore.img_src %>" alt="thumbnail of <%= @pbcore.title %>">
  <div style="margin-top: 1em;" class="content-text">
    <% if @pbcore.outside_url %>
      <% @pbcore.contributing_organization_objects.each do |org| %>
        <%= link_to(
          "#{@pbcore.video? ? 'View' : 'Listen'} online at #{org.short_name}.",
          @pbcore.outside_url,
          {target: '_blank'}
        ) %>
    <% end %>
    <% elsif (@pbcore.public? && !current_user.usa?) || @pbcore.protected? %>
      Please note: This content is currently not available at your location. If you are a scholar engaged in research, please <a href="/contact-us">contact us</a> for more information.
    <% elsif @pbcore.private? %>
      Please note: This content is not currently available in the Online Reading Room. If you are a scholar engaged in research, please <a href="/contact-us">contact us</a> for more information.
    <% elsif !@pbcore.digitized? && !@pbcore.contributing_organization_objects.empty? %>
      Please note: This content is not currently available in the Online Reading Room. If you are a scholar engaged in research, please <a href="/contact-us">contact us</a> for more information.
    <% elsif !@pbcore.digitized? && !@pbcore.contributing_organization_objects.empty? %>
      This content has not been digitized. Please contact the contributing organization(s) listed below.
    <% elsif !@pbcore.digitized? && @pbcore.contributing_organization_objects.empty? %>
      This content has not been digitized.
    <% end %>

    <% @pbcore.reference_urls.each do |url| %>
      <%= link_to 'More information on this record is available.', url %>
    <% end %>
  </div>
<% end %>