<% content_for :video do %>
  <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/7.20.3/video.min.js" ></script>
  <script src="https://vjs.zencdn.net/ie8/1.1.2/videojs-ie8.min.js" ></script>

  <%= javascript_include_tag 'videojs-offset.min' %>
  <%= javascript_include_tag 'transcript' %>
  <%= javascript_include_tag 'mobile-transcript' %>
  <%= javascript_include_tag 'player' %>

<% end %>

<!-- player or thumbnail or message -->
<% if @available_and_playable %>

  <div class="row">
    <% if @pbcore.transcript_html %>
      <div class="col-sm-12 col-md-6 player">
    <% else %>
      <div class="col-sm-12 col-md-8 player col-md-offset-2">
    <% end %>

        <section class="videocontent">
        <%=
          @pbcore.media_srcs.map do |media_src|
            media = @pbcore.video? ? 'video' : 'audio'
            content_tag(media,
                        controls: true,
                        "class" => "video-js vjs-default-skin vjs-fluid",
                        "id" => "player_media",
                        "aria-label" => "video player",
                        oncontextmenu: 'return false;',
                        preload: 'auto',
                        crossorigin: 'with-credentials',
                        :"data-setup" => '{}',
                        poster: @pbcore.img_src) do %>

              <source src="<%= media_src %>" type='<%= @pbcore.video? ? 'application/x-mpegURL' : 'audio/mp3' %>'>

              <% if @captions.file_present? %>
                <track kind="captions" src="/captions/<%= @pbcore.id %>.vtt" srclang="en" label="English" default="default" />
              <% end %>
              <% if ChapterFile.file_present?(@pbcore.id) %>
                <track kind="chapters" src=<%= ChapterFile.vtt_url(@pbcore.id) %> srclang="en" label="Chapters" />
              <% end %>
              <%
            end
          end.join().html_safe()
        %>
        </section>

        <div class="row">
          <div class="col-md-12">

            <button id="skip-back" class="player-button skip-button">◀◀ 10s</button>
            <button id="skip-forward" class="player-button skip-button">10s ▶▶</button>

            <% if @pbcore.seconds > 0 %>
              <span id="time-range-switch-container">
                <label class="switch">
                  <input id="time-range-switch" type="checkbox">
                  <span class="slider round"></span>
                </label>

                <span style="font-size: 12px;">Share a Segment</span>
              </span>
            <% end %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <%= render partial: 'time_range' %>
          </div>
        </div>
        
        <%= render partial: 'share_modal' %>

      </div>

    <div class="hidden-sm hidden-xs">
      <%= render partial: 'transcript' %>
    </div>

  </div>

<% else %>
  <!-- no media thumbnail -->
  <img src="<%= @pbcore.img_src %>" alt="thumbnail of <%= @pbcore.title %>">
  <div style="margin-top: 1em;" class="content-text">
    <% if @pbcore.outside_urls %>
      <% @pbcore.outside_urls.each do |url| %>
        <%= link_to(
          "#{@pbcore.video? ? 'View' : 'Listen'} online at #{@pbcore.outside_baseurl(url)}",
          url,
          {target: '_blank'}
          ) %>
        <br>
      <% end %>
    <% end %>
  </div>

  <% if @pbcore.transcript_html %>
    <div class="row">
      <%= render partial: 'transcript' %>
    </div>
  <% end %>
<% end %>


<% unless @available_and_playable %>
  <% if @pbcore.public? && !current_user.usa? %>
    Please note: This content is currently not available at your location.
  <% elsif @pbcore.protected? %>
    Please note: This content is only available at GBH and the Library of
    Congress, either due to copyright restrictions or because this content has
    not yet been reviewed for copyright or privacy issues. For information about
    on location research, <a href="/on-location">click here</a>.
  <% elsif @pbcore.private? %>
    Please note: This content is only available at the Library of Congress due
    to copyright restrictions or privacy concerns. For information about on
    location research, <a href="/on-location">click here</a>.
  <% elsif !@pbcore.digitized? && !@pbcore.contributing_organization_objects.empty? %>
    This content has not been digitized. Please contact the contributing organization(s) listed below.
  <% elsif !@pbcore.digitized? && @pbcore.contributing_organization_objects.empty? %>
    This content has not been digitized.

  <% end %>
<% end %>

<% @pbcore.reference_urls.each do |url| %>
  <%= link_to 'More information on this record is available.', url %>
<% end %>
