 <% if @pbcore.transcript_html %>
  <div id="transcript-state" style="display: none;" class="hidden initial <%= @transcript_open ? 'open' : 'closed' %>"></div>

                        <!-- this refers to the video -  full width transcript viewer if no wideo -->
  <div class="col-sm-12 <%= @available_and_playable ? 'col-md-6 col-lg-6' : 'col-md-12 col-lg-12' %> transcript-div transcript-view-show">

    <dl class="panel transcript-panel">

      <div class="transcript-panel-heading">
        <dt class="dt-left">Transcript</dt>
        <div class="input-group input-group-sm transcript-search show-transcript-search" role="search">
            <input type="search" id="transcript-search-input" placeholder="Search..." value="<%= @transcript_search_term %>">
            <button data-search="next" class="transcript-search-btn"><span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span></button>
            <button data-search="prev" class="transcript-search-btn"><span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></button>
            <button data-search="clear" class="transcript-search-btn">✖</button>
        </div>
        <div class="transcript-slide show-transcript" style="cursor: pointer;">Hide
          <span class="transcript-circle">-</span>
        </div>
      </div>

      <% if @pbcore.transcript_message %>
        <div style="background-color: #fceab2;" id="transcript-message" class="">

          <div class="transcript-message-bar">
            <button id="transcript-message-close" class="transcript-message-btn">✖</button>
          </div>

          <div class="transcript-message-content">
            <%= @pbcore.transcript_message.html_safe %>
          </div>
        </div>
      <% end %>
    </dl>
    <div id="transcript" class="transcript-frame">
      <div class="transcript transcript-content">
        <%= raw @pbcore.transcript_html %>
      </div>
    </div>
  </div>
<% end %>
