<% if @special_collection %>
  <div class="gallery-header">
    <h1><%= @special_collection.title %></h1>
  </div>
  <div class="special-collections-search">
    <%= render partial: 'special_collections/search_results', locals: { special_collection: @special_collection } %>
  </div>

  <%= render partial: 'special_collections/search_help_modal' %>
<% else %>
  <div class="page-header">
    <h1>Search Results</h1>
  </div>
  <% if @exhibit %>
    <%= render partial: 'exhibits/show_all_items_header', locals: { exhibit: @exhibit } %>
  <% end %>
<% end %>

<div id="sidebar" class="col-md-3 col-sm-4">
  <%= render 'search_sidebar' %>
</div>

<div id="content" class="col-md-9 col-sm-8">
  <div class="search-header">
    <%= render_facet_partials(fields = [ SolrDocument::ACCESS_FACET_FIELD ]) %>
  </div>
  <% unless has_search_parameters? %>
    <%# if there are no input/search related params, display the "home" partial -%>
    <%= render 'home' %>
  <% else %>
    <%= render 'search_results' %>
  <% end %>
</div>
