<% content_for :head do %>
  <meta property="og:title" content="<%= @pbcore.title %>" />
  <meta property="og:url" content="http://americanarchive.org/catalog/<%= @pbcore.id %>" />
  <meta property="og:type" content="<%=
    # See http://ogp.me/#types
    # The OG type vocabulary is impoverished.
    if @pbcore.video?
      'video.other'
    else
      'website'
    end
  %>" />
  <meta property="og:image" content="<%=
    # I believe that protocol and host are required here.
    if @pbcore.img_src =~ /^\//
      "http://americanarchive.org#{@pbcore.img_src}"
    else
      @pbcore.img_src
    end
  %>" />

  <meta property="og:site_name" content="American Archive of Public Broadcasting"/>
  <meta property="og:description" content="<%= @pbcore.descriptions.join("\n") %>" />

  <!-- TODO: Doubt that these will be effective because we check the referer. -->
  <% if @pbcore.digitized? %>
    <% if @pbcore.video? %>
      <meta property="og:video" content="http://americanarchive.org/media/<%= @pbcore.id %>" />
    <% end %>
    <% if @pbcore.audio? %>
      <meta property="og:audio" content="http://americanarchive.org/media/<%= @pbcore.id %>" />
    <% end %>
  <% end %>

<% end %>

<% content_for :sidebar do %>
  <%= render 'shared/sidebar_search' %>
  <div class="alert alert-info">
    <% @pbcore.ids.first[1].tap do |id| %>
      If you have more information about this item than what is given here, we want to know!
      <a href="mailto:sadie_roosa@wgbh.org">Contact us</a>,
      indicating the AAPB ID (<%= id %>).
    <% end %>
  </div>

  <% @pbcore.titles.each do |type,title| %>
    <dl>
      <dt><%= type %></dt>
      <dd><a href="/catalog?f[<%=
          type.downcase.gsub(/\s/,'_')
        %>_titles][]=<%=
          CGI::escape(title.gsub(/(["\\])/, '\\\\\1')) # escape Solr meta-characters
        %>"><%= title %></a></dd>
    </dl>
  <% end %>

  <dl>
    <dt>Contributing Organization</dt>
    <dd><a href='/participating-orgs/<%= url_encode(@pbcore.organization.id) %>'><%= @pbcore.organization.short_name %></a>
      (<%= @pbcore.organization.city %>, <%= @pbcore.organization.state %>)</dd>
  </dl>

  <% @pbcore.ids.each do |type,id| %>
    <dl>
      <dt><%= type %></dt>
      <dd><%= id %></dd>
    </dl>
  <% end %>
<% end %>

<% content_for :main do %>
  <% @page_title = t('blacklight.search.show.title', :document_title => @pbcore.title, :application_name => application_name) %>

  <div class="well well-sm media-thumb">

    <% if @skip_orr_terms == false %>
        <%= render partial: 'password_modal' %>
    <% end %>

    <a name="player"></a>
    <% if !@pbcore.media_srcs.empty? &&
        !@pbcore.outside_url &&
        can?(:play, @pbcore) %>
      <%= render partial: 'catalog/player' %>
    <% else %>
      <img src="<%= @pbcore.img_src %>" alt="thumbnail of <%= @pbcore.title %>">
      <div style="margin-top: 1em;">
        <% if @pbcore.outside_url %>
          <%= link_to(
            "#{@pbcore.video? ? 'View' : 'Listen'} online at #{@pbcore.organization.short_name}.",
            @pbcore.outside_url,
            {target: '_blank'}
          ) %>
        <% elsif @pbcore.public? && !current_user.usa? %>
          Please note: This content is currently not available at your location.
        <% elsif @pbcore.protected? %>
          Please note: This content is only available at WGBH and
          the Library of Congress. For information about on location research,
          <a href="/on-location">click here</a>.
        <% elsif @pbcore.private? %>
          Please note: This content is only available at
          the Library of Congress. For information about on location research,
          <a href="/on-location">click here</a>.
        <% elsif !@pbcore.digitized? %>
          Please note: This content has not been digitized. For inquiries regarding access,
          please contact <%= link_to @pbcore.organization.short_name, @pbcore.organization.url %>.
        <% end %>

        <% @pbcore.reference_urls.each do |url| %>
          <%= link_to 'More information on this record is available.', url %>
        <% end %>
      </div>
    <% end %>
  </div>

  <% Exhibit.find_top_by_item_id(@pbcore.id).each do |exhibit| %>
    <h4>
      <% exhibit_caption = "This record is featured in “#{exhibit.title}.”" %>
      <a href="/exhibits/<%= exhibit.path %>" class="btn-featured-record" title="<%= exhibit_caption %>">
        <span class="glyphicon glyphicon-star"></span>
        <strong><%= exhibit_caption %></strong>
      </a>
    </h4>
  <% end %>

  <dl>
    <dt>Description</dt>
    <% @pbcore.descriptions.each do |description| %>
      <dd><%= description %></dd>
    <% end %>
  </dl>

  <% unless @pbcore.asset_dates.empty? %>
    <dl>
      <% @pbcore.asset_dates.each do |type,date| %>
        <dt><%= type %></dt>
        <dd><%= date %></dd>
      <% end %>
    </dl>
  <% end %>


  <% if @pbcore.asset_type %>
    <dl>
      <dt>Asset type</dt>
      <dd><%= @pbcore.asset_type %></dd>
    </dl>
  <% end %>

  <% unless @pbcore.genres.empty? %>
    <dl>
      <dt>Genres</dt>
      <% @pbcore.genres.each do |genre| %>
        <dd><a href="/catalog?f[genres][]=<%= CGI::escape(genre) %>"><%= genre %></a></dd>
      <% end %>
    </dl>
  <% end %>

  <% unless @pbcore.topics.empty? %>
    <dl>
      <dt>Topics</dt>
      <% @pbcore.topics.each do |topic| %>
        <dd><a href="/catalog?f[topics][]=<%= CGI::escape(topic) %>"><%= topic %></a></dd>
      <% end %>
    </dl>
  <% end %>

  <% unless @pbcore.subjects.empty? %>
    <dl>
      <dt>Subjects</dt>
      <dd><%= @pbcore.subjects.join('; ') %></dd>
    </dl>
  <% end %>

  <% {
    'Creator'=> @pbcore.creators,
    'Contributor'=> @pbcore.contributors,
    'Publisher'=> @pbcore.publishers
    }.select{|label,list| !list.empty?}.each do |label,list| %>
    <dl>
      <dt><%= label %></dt>
      <% list.each do |c| %>
        <dd><%= [c.name, c.affiliation, c.role].select{|c| c}.join(', ') %></dd>
      <% end %>
    </dl>
  <% end %>

  <% if @pbcore.rights_summary %>
    <dl>
      <dt>Rights</dt><dd><%= @pbcore.rights_summary %></dd>
    </dl>
  <% end %>

  <dl>
    <dt>Media type</dt><dd><%= @pbcore.media_type %></dd>
  </dl>

  <% if @pbcore.duration %>
    <dl>
      <dt>Duration</dt>
      <dd><%= @pbcore.duration %></dd>
    </dl>
  <% end %>

  <% if @pbcore.public? %>
     <dl style="display:none;"><%# TODO: remove style when ready to go. %>
      <dt>Embed Code</dt>
      <dd>
        <input style="width: 100%; font-family: monospace;"
                 value="&lt;iframe src='<%=
                    url_for(controller: 'embed', action: 'show', id: params[:id], only_path: false)
                 %>' width='<%= AAPB::PLAYER_WIDTH %>' height='<%= AAPB::PLAYER_HEIGHT %>'
                 style='border: 0;'&gt;&lt;/iframe&gt;"
                 onclick="this.select();" />
        <div class="well well-sm"><small>
          Copy and paste this HTML to include AAPB content on your blog or webpage.
        </small></div>
      </dd>
    </dl>
  <% end %>

  <dl>
    <% url = "http://americanarchive.org/catalog/#{@pbcore.id}" %>
    <% today = Date.today.to_formatted_s(:long) %>
    <% org = @pbcore.organization.short_name_html.gsub(/<[^>]*>/, '').html_safe + ', American Archive of Public Broadcasting (WGBH and the Library of Congress), Boston, MA and Washington, DC' %>
    <dt>Citation</dt>
    <dd><em>Chicago</em>:
      &ldquo;<%= @pbcore.title %>,&rdquo;
      <%= @pbcore.asset_date + ',' if @pbcore.asset_date %>
      <%= org %>,
      accessed <%= today %>,
      <%= url %>.</dd>
    <dd><em>MLA</em>:
      &ldquo;<%= @pbcore.title %>.&rdquo;
      <%= @pbcore.asset_date + '.' if @pbcore.asset_date %>
      <%= org %>.
      Web. <%= today %>.
      &lt;<%= url %>&gt;.</dd>
    <dd><em>APA</em>:
      <%= @pbcore.title %>.
      Boston, MA: <%= org %>.
      Retrieved from <%= url %></dd>
  </dl>

<% end %>

<%= render partial: 'shared/title_sidebar_main',
     locals: {
       title: 'Records',
       sidebar: yield(:sidebar),
       main: yield(:main)
     } %>

