
<% content_for :sidebar do %>
  <%= render 'shared/sidebar_search' %>
  <div class="alert alert-info">
    <% @pbcore.ids.first[1].tap do |id| %>
      If you have more information about this item than what is given here, we want to know!
      <a href="mailto:sadie_roosa@wgbh.org">Contact us</a>, 
      indicating the AAPB ID (<%= id %>).
    <% end %>
  </div>
  
  <% @pbcore.titles.reverse_each do |type,title| %>
    <dl>
      <dt><%= type %></dt>
      <dd><a href="/catalog?f[<%= type.downcase.gsub(/\s/,'_') %>_titles][]=<%= CGI::escape(title) %>"><%= title %></a></dd>
    </dl>
  <% end %>

  <dl>
    <dt>Contributing Organization</dt>
    <dd><a href='/participating-orgs/<%= url_encode(@pbcore.organization.id) %>'><%= @pbcore.organization.short_name %></a>
      (<%= @pbcore.organization.city %>, <%= @pbcore.organization.state %>)</dd>
  </dl>
  
  <% @pbcore.ids.each do |type,id| %>
    <dl>
      <dt><%= type %></dt>
      <dd><%= id %></dd>
    </dl>
  <% end %>
<% end %>

<% content_for :main do %>
  <% @page_title = t('blacklight.search.show.title', :document_title => @pbcore.title, :application_name => application_name) %>

  <h1 class="record-title"><%= @pbcore.title %></h1>

  <div class="well well-sm media-thumb">
    <% if @pbcore.media_src && AccessControl.authorized_ip?(request.remote_ip) %>
      <%= render partial: 'catalog/player' %>
    <% else %>
      <img src="<%= @pbcore.img_src %>" alt="thumbnail of <%= @pbcore.title %>">
    <% end %>
  </div>

  <dl>
    <dt>Description</dt>
    <% @pbcore.descriptions.each do |description| %>
      <dd><%= description %></dd>
    <% end %>
  </dl>

  <% unless @pbcore.asset_dates.empty? %>
    <dl>
      <% @pbcore.asset_dates.each do |type,date| %>
        <dt><%= type %></dt>
        <dd><%= date %></dd>
      <% end %>
    </dl>
  <% end %>

  
  <% if @pbcore.asset_type %>
    <dl>
      <dt>Asset type</dt>
      <dd><%= @pbcore.asset_type %></dd>
    </dl> 
  <% end %>

  <% unless @pbcore.genres.empty? %>
    <dl>
      <dt>Genres</dt>
      <dd><%= @pbcore.genres.join('; ') %></dd>
    </dl>
  <% end %>

  <% unless @pbcore.subjects.empty? %>
    <dl>
      <dt>Subjects</dt>
      <dd><%= @pbcore.subjects.join('; ') %></dd>
    </dl>
  <% end %>

  <% {
    'Creator'=> @pbcore.creators,
    'Contributor'=> @pbcore.contributors,
    'Publisher'=> @pbcore.publishers
    }.select{|label,list| !list.empty?}.each do |label,list| %>
    <dl>
      <dt><%= label %></dt>
      <% list.each do |c| %>
        <dd><%= [c.name, c.affiliation, c.role].select{|c| c}.join(', ') %></dd>
      <% end %>
    </dl>
  <% end %>

  <% if @pbcore.rights_summary %>
    <dl>
      <dt>Rights</dt><dd><%= @pbcore.rights_summary %></dd>
    </dl>
  <% end %>

  <dl>
    <dt>Media type</dt><dd><%= @pbcore.media_type %></dd>
  </dl>

  <% if @pbcore.instantiations.first && @pbcore.instantiations.first.duration %>
    <dl>
      <dt>Duration</dt>
      <dd><%= @pbcore.instantiations.first.duration %></dd>
    </dl>
  <% end %>  

<% end %>
  
<%= render partial: 'shared/title_sidebar_main', 
     locals: { 
       title: 'Records',
       sidebar: yield(:sidebar),
       main: yield(:main)
     } %>

