<% @page_title = t('blacklight.search.show.title', :document_title => @pbcore.title, :application_name => application_name) %>

<h1><%= @pbcore.title %></h1>
  
<dl>
<% @pbcore.titles.each do |type,title| %>
  <dt><%= type %></dt>
  <dd><%= title %></dt>
<% end %>
</dl>
 
<ul>
<% @pbcore.ids.each do |id| %>
  <li><%= id %></li>
<% end %>
</ul>

<div>
  <% @pbcore.descriptions.each do |description| %>
    <p><%= description %></p>
  <% end %>
</div>

<p><%= @pbcore.asset_type %></p>

<dl>
<% @pbcore.asset_dates.each do |type,date| %>
  <dt><%= type %></dt>
  <dd><%= date %></dt>
<% end %>
</dl>

<p><%= @pbcore.genres.join('; ') %></p>
<p><%= @pbcore.media_type %></p>

<p><%= @pbcore.subjects.join('; ') %></p>
<!-- Coverage and affiliation when we have more data. -->

<dl>
  <% {
      'Contributor'=> @pbcore.contributors,
      'Creator'=> @pbcore.creators,
      'Publisher'=> @pbcore.publishers
      }.select{|label,list| !list.empty?}.each do |label,list| %>
  <dt><%= label %></dt>
    <% list.each do |c| %>
      <dd><%= [c.name, c.affiliation, c.role].select{|c| c}.join(', ') %></dd>
    <% end %>
  </dt>
  <% end %>
</dl>

<p><%= @pbcore.rights_summary %></p>

<dl>
  <% @pbcore.instantiations.each do |instantiation| %>
    <dt><%= instantiation.media_type %></dt>
    <dd><%= instantiation.duration %></dd>
  <% end %>
</dl>

<%# TODO: cleaner link syntax. %>
<p><a href='/organizations/<%= url_encode(@pbcore.organization.id) %>'><%= @pbcore.organization.short_name %></a></p>