<% state_list = @orgs.group_by{|org| org.state} %>

<% content_for :sidebar do %>
  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'States',
                links: state_list.keys.map{ |state| [state, "\##{state}"] }
              } %>
<% end %>

<% content_for :main do %>

  <%= render file: "#{Rails.root}/app/views/organizations/usa.svg" %>
  
  <br/>
  <br/>

  <% state_list.each do |state,orgs| %>
    <a name="<%= state %>"></a>
    <div class="panel panel-default org-state">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= state %>
          <a href="catalog?f[state][]=<%= URI.encode(state) %>" class="btn btn-sm btn-link pull-right">
            All records from <%= state %>
          </a>
        </h2>
      </div>
      <div class="panel-body">

        <% orgs.sort_by{|org| org.short_name}.each do |org| %>
          <p>
            <a href="/participating-orgs/<%= org.id %>"><%= org.short_name %></a><br/>
            <%= "#{org.city}, #{org.state}" %>
          </p>
        <% end %>

      </div>
      <div class="panel-footer"><a href="#" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span> Return to top</a></div>
    </div>

  <% end %>
<% end %>

<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %>
