<% content_for :sidebar do %>
  <%= render partial: 'shared/sidebar_nav', 
             locals: { 
                title: 'States',
                links: @states.map{ |state| [state.name, "\##{state.name}"] }
              } %>
<% end %>

<% content_for :main do %>

  <%= render file: "#{Rails.root}/app/views/organizations/usa.svg" %>
  
  <br/>
  <br/>

  <% @states.select { |state| state.organizations || state.blurb_html }.each do |state| %>
    <a name="<%= state.name %>"></a>
    <div class="panel panel-default org-state">
      <div class="panel-heading">
        <h2 class="panel-title">
          <%= state.name %>
          <% if state.organizations %>
            <a href="catalog?f[state][]=<%= URI.encode(state.name) %>" class="btn btn-sm btn-link pull-right">
              All records from <%= state.name %>
            </a>
          <% end %>
        </h2>
      </div>
      <div class="panel-body">
        
        <% if state.blurb_html %>
          <p>
            <%= state.blurb_html.html_safe %>
          </p>
        <% end %>

        <% state.organizations.sort_by{ |org| org.short_name }.each do |org| %>
          <p>
            <a href="/participating-orgs/<%= org.id %>"><%= org.short_name %></a><br/>
            <%= "#{org.city}, #{org.state}" %>
          </p>
        <% end if state.organizations %>

      </div>
      <div class="panel-footer"><a href="#" class="btn btn-sm btn-link"><span class="glyphicon glyphicon-circle-arrow-up" aria-hidden="true"></span> Return to top</a></div>
    </div>

  <% end %>
<% end %>

<%= render partial: 'shared/title_sidebar_main', 
           locals: {
             sidebar: yield(:sidebar),
             main: yield(:main)
           } %>
