<div class="page-header">
  <h1>Participating Organizations</h1>
</div>

<!-- Top -->
<div class="jumbotron org-o-tron">
  <div class="container">
    
    <h1><%= @org.short_name %></h1>

    <p><%= @org.city %>, <%= @org.state %></p>
    
    <% if @org.logo_src %>
      <img src="<%= @org.logo_src %>" alt="<%= @org.short_name %> logo" class="org-logo"/>
    <% end %>

    <%# TODO: better link idiom %>
    <p><a href="<%= @org.url %>"><%= @org.url %></a></p>

    <a href="/catalog?f[organization][]=<%= CGI::escape(@org.short_name)%>" class="btn btn-default btn-sm">All records</a>

  </div>
</div>
<!-- END Top -->

<br />

<div class="row">

  <!-- Column -->
  <div class="col-md-4  column">

    <%= render 'shared/sidebar_search' %>
    <%= render layout: 'shared/sidebar_nav', locals: { title: 'About' } do %>
      <% if @org.history_html %>
          <li class="active"><a href="#">History</a></li>
      <% end %>
      <% if @org.productions_html %>
          <li class="active"><a href="#">Productions</a></li>
      <% end %>
    <% end %>
    
  </div>
  <!-- END Column -->

  <!-- START: Main Column -->
  <div class="col-md-8">

    <% if @org.history_html %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">History</h2>
        </div>
        <div class="panel-body">
          <%= @org.history_html.html_safe %>
        </div>
      </div>
    <% end %>

    <% if @org.productions_html %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Productions</h2>
        </div>
        <div class="panel-body">
          <%= @org.productions_html.html_safe %>
        </div>
      </div>
    <% end %>


  </div>
  <!-- END: Main Column -->

</div>
