<div class="page-header">
  <h1>Participating Organizations</h1>
</div>

<br />

<div class="row">
  <!-- START: Main Column -->
  <div class="col-md-12">

    <!-- Org-o-tron -->
    <div class="jumbotron org-o-tron">
      <div class="container">

        <h2><%= @org.short_name %></h2>

        <p><%= @org.city %>, <%= @org.state %></p>

        <% unless @org.logo_src.empty? %>
          <img src="<%= @org.logo_src %>" alt="<%= @org.short_name %> logo" class="org-logo"/>
        <% end %>

        <%# TODO: better link idiom %>

        <% @org.urls.each do |url| %>
          <p><a href="<%= url %>"><%= url %></a></p>
        <% end %>

        <a href="<%= @org.facet_url %>" class="btn btn-default btn-sm">View All Records</a>

      </div>
    </div>
    <!-- END Org-o-tron -->

    <% unless @org.about_html.empty? %>
      <a name="about"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">About</h2>
        </div>
        <div class="panel-body">
          <%= @org.about_html.html_safe %>
        </div>
      </div>
    <% end %>

  </div>
  <!-- END: Main Column -->

</div>
