<div class="page-header">
  <h1>Participating Organizations</h1>
</div>



<br />

<div class="row">
  <!-- Column -->
  <div class="col-md-4  column">

    <%= render partial: 'shared/sidebar_nav',
               locals: {
                  title: 'About',
                  links:
                    (@org.history_html.empty? ? [] : [['History', '#history']]) +
                    (@org.productions_html.empty? ? [] : [['Productions', '#productions']])
               } %>
  </div>
  <!-- END Column -->

  <!-- START: Main Column -->
  <div class="col-md-8">

    <!-- Org-o-tron -->
    <div class="jumbotron org-o-tron">
      <div class="container">

        <h2><%= @org.short_name %></h2>

        <p><%= @org.city %>, <%= @org.state %></p>

        <% unless @org.logo_src.empty? %>
          <img src="<%= @org.logo_src %>" alt="<%= @org.short_name %> logo" class="org-logo"/>
        <% end %>

        <%# TODO: better link idiom %>
        <p><a href="<%= @org.url %>"><%= @org.url %></a></p>

        <a href="/catalog?f[contributing_organizations][]=<%= CGI::escape(@org.facet)%>" class="btn btn-default btn-sm">View All Records</a>

      </div>
    </div>
    <!-- END Org-o-tron -->

    <% unless @org.history_html.empty? %>
      <a name="history"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">History</h2>
        </div>
        <div class="panel-body">
          <%= @org.history_html.html_safe %>
        </div>
      </div>
    <% end %>

    <% unless @org.productions_html.empty? %>
      <a name="productions"></a>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">Productions</h2>
        </div>
        <div class="panel-body">
          <%= @org.productions_html.html_safe %>
        </div>
      </div>
    <% end %>


  </div>
  <!-- END: Main Column -->

</div>
