<div class="page-header">
  <h1>Participating Organizations</h1>
</div>

<div class="row">

  <!-- START: Main Column -->
  <div class="col-md-12">

    <h1><%= @org.short_name %></h1>

    <p><%= @org.city %>, <%= @org.state %></p>

    <%# TODO: better link idiom %>
    <p><a href="<%= @org.url %>"><%= @org.url %></a></p>

    <p><a href="/catalog?f[organization][]=<%= CGI::escape(@org.short_name)%>">All records</a></p>

    <% if @org.history_html %>
      <h2>History</h2>
      <%= @org.history_html.html_safe %>
    <% end %>

    <% if @org.productions_html %>
      <h2>Productions</h2>
      <%= @org.productions_html.html_safe %>
    <% end %>


  </div>
  <!-- END: Main Column -->

</div>
